@font-face {
  font-family: Lato-Bold;
  src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: Lato-Regular;
  src: url(../fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: Lato-Italic;
  src: url(../fonts/Lato-Italic.ttf);
}

@font-face {
  font-family: Fira-Sans-Regular;
  src: url(../fonts/Fira-Sans-Regular.ttf);
}

@font-face {
  font-family: Fira-Sans-Light;
  src: url(../fonts/Fira-Sans-Light.ttf);
}

body {
  font-family: Lato-Regular;
  color: #545454;
  background: #F7F7F7 !important;
  height: auto !important;
}

.noPadding {
  padding: 0 !important;
}

.uiViewAdjust {
  margin-bottom: 40px;
}
.communityCarouselSection{
  margin-top: 4px;
}

.carouselImage{
  border-radius: 0 !important
}

.whiteLogo{
  width: 100px;
}


/*----------------------------------------- Responsive Section -----------------------------------------------------*/

@media screen and (max-width:767px) {
  .communityCarouselSection{
    margin-top: 50px;
  }
  .ImageInCard{
    height: auto !important;
  }
  .commentOuterCard{
    margin: 1% 0 1% 0!important
  }
  .sideMenu {
    display: none;
  }
  .navbarHead {
    display: none;
  }
  .ImageSize {
    border-radius: 0 ;
    height: 170px !important;
  }
  .imageSizeCard{
    height: 150px !important;
  }
  .OutsideDiv {
    background-color: white !important;
    padding: 0 !important;
  }
  .imagesChannel{
   width: 100%;
   padding-top: 8px;
   height: 220px;
}
  .commonMargin {
    margin-top: 0 !important;
  }

  .commentBox{
    width: 75% !important;
  }

.communityScreeWidth {
  margin-left: 0 !important;
}
}

@media (min-width:768px) and (max-width:991px) {
  .mediaArray{
    height: 100px  !important;
  }
  .cardDesign{
    padding: 0 !important;
  }
  .communityScreeWidth {
    margin-left: 25%;
    margin-bottom: 10px !important
  }
  .centerAlign {
    margin-left: 4.166666665%;
  }
  .signupBody {
    height: auto !important;
    border-radius: 20px;
  }
  .signBack {
    margin-top: 12%;
  }
  .Shadow {
    box-shadow: 0 4px 2px 0px #CACACA;
  }
  .FooterMenu {
    display: none;
  }
  .imagesChannel{
   width: 100%;
   padding-top: 8px;
  }
}

@media (min-width:992px) and (max-width:1400px) {
  .mediaArray{
    height: 130px  !important;
  }
  .newmediaArray{
    height: 130px !important;
  }
  .cardDesign{
    padding: 0 !important;
  }
  .centerAlign {
    margin-left: 4.166666665%;
  }
  .signupHeader {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
  }
  .signupBody {
    height: auto !important;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .signBack {
    margin-top: 12%;
  }
  .Shadow {
    box-shadow: 4px 4px 4px 1px #CACACA;
  }
  .Shadow {
    box-shadow: 4px 4px 4px 1px #CACACA;
  }
  .FooterMenu {
    display: none;
  }
  .communityScreeWidth {
    margin-left: 25%;
    margin-bottom: 10px !important
  }
  .imagesChannel{
   width: 100%;
   padding-top: 8px;
  }
}


/*------------------------------------------ signup signin ---------------------------------------------------------*/

.signupHeader {
  background: white;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  border-bottom: 3px solid #ECECEC;
  padding: 11px 0 !important;
}

.overFlowIcon {
  margin-top: 0px;
  color: #A9A9A9 !important;
  cursor: pointer;
  padding-right: 14px;
}

.signupHeading {
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  margin: 15px 0;
}

.signupQuote {
  margin: 0 auto;
  line-height: 1.3;
  font-size: 13px;
}

.signupNumberCard {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 2px -2px #CACACA;
  padding: 0 !important;
  margin: 35px 0;
}

.channelSelectCard{
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 2px -2px #CACACA;
  padding: 0 !important;
}

.flocktIcon {
  width: 30px;
  margin-right: 4px;
}

#countryCode md-select.md-default-theme .md-select-value, md-select .md-select-value {
  border-bottom-color: red!important;
}

#countryCode .md-select-value {
  min-width: 100% !important;
  padding: 2px 0px 3px 0px;
}

.signupPhone:focus {
  border-bottom-color: red !important;
}

.signupPhone {
  margin-top: 15px;
  border-top: medium none;
  border-left: medium none;
  border-right: medium none;
  box-shadow: none !important;
  border-radius: 0;
  border-bottom-color: grey !important;
  padding-right: 0px;
}

.signupNext {
  font-family: Lato-Bold;
  font-size: 16px;
}

.formAct {
  padding: 3PX 1PX 0PX 0PX;
}

.signupTextAjst {
  padding: 0 15px 0 0;
  margin-top: 4px;
}

.signupEditBtn {
  width: 26px;
  padding-bottom: 11px;
  margin-left: 4px;
}

.signupPhNumberReview {
  display: inline-block;
}

.signupCardOtpSection {
  margin: 5px 0 25px 0;
}

.signupPhoneOtpSection {
  margin: 20px 0;
}

.signupNextOtpSection {
  padding-right: 0;
}

.signupNumerEditSection {
  padding-bottom: 0;
  margin: 10px 0 0 0 !important;
}

.progressBar {
  width: 40px;
  display: inline-block;
  margin: 5px 0;
}

.signupPhonePinSection {
  margin: 5px 0;
}

.signupShowHidePassword {
  position: absolute;
  z-index: 1;
  bottom: 29px;
  right: 6px;
}

.signupSetPin {
  margin-top: 15px;
}

span:focus {
  outline: none !important;
}

button:focus, img:focus, div:focus {
  outline: none !important;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.progressCount {
  position: absolute;
  z-index: 1;
  top: 14px;
  left: 48%;
  color: #92D687;
}


/*----------------------------------------- Community Info ---------------------------------------------*/

.headerForm {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.headerImage {
  border-radius: 5px;
  margin-top: 10px;
  height: 60px;
  width: 60px;
}

.MainHeader {
  margin-left: 5px;
}

.mainHeading {
  font-family: Lato-Bold !important;
  color: #545454;
  margin: 25px 0px 0px 0px;
}

.glyphicon-large {
  font-size: 15px;
  display: block;
}

.Filter {
  margin-top: 15px;
}

.filterImage {
  height: 26px;
  margin-top: 10px;
}

.discoverLeft {
  left: 0px !important;
  padding-left: 7px !important;
}

.filterImage {
  height: 26px;
  margin-top: 10px;
}

.comOpt {
  color: white !important;
  padding-right: 14px;
  margin-top: 8px;
  /*position: absolute;
  z-index: 1;
  right: 14px;*/
  /*margin-top: 61px;*/
}

.mainParagraph {
  color: #545454;
  font-size: 12px;
  background-color: white;
  padding: 15px 0 0 6px;
}

.comSub {
  font-size: 10px;
  color: #545454;
}

.mainPost {
  color: #545454;
  font-size: 12px;
  background-color: white;
  text-align: center;
  padding-top: 5px;
}

.accountDetail {
  padding-right: 20px;
  margin-top: 6px;
}

.comSubmit {
  background-color: white;
  padding-bottom: 20px;
}

.comButton {
  width: 160px;
  height: 35px;
  background-color: white !important;
  border: 1px solid red !important;
  border-radius: 5px;
  color: #f83a48 !important;
  margin-top: 25px;
  margin-top: 8px;
  font-size: 12px;
}

.featureChannel {
  color: #545454;
  font-size: 14px;
  padding-top: 10px;
  background-color: #F9F7F5;
  /*font-family: Lato-Regular !important;*/
}

.featureName {
  margin-top: 10px;
  color: #545454;
  font-size: 13px;
}

.comElements {
  margin: 10px 3px 0px 0px;
  border-radius: 3px;
  border: 1px solid;
  border-color: silver;
  text-align: center;
  width: auto;
  color: #545454;
  display: inline-block;
  padding: 5px 6px;
  font-size: 11px;
}

.banImag {
  border-radius: 0px !important;
  width: 100%
}

.viewAll {
  margin-top: 10px;
  font-size: 12px;
  padding-bottom: 5px;
  background-color: #F9f7f5 !important;
  padding-left: 0px;
}

.linkView {
  color: #8fb8cc !important;
}

.comTypes {
  padding-left: 0px;
}


/* ------------------------------------------------------channelView----------------------------------------------*/

.channelHeader {
  padding: 10px 0px 0px 10px !important;
  border-bottom: .2px solid #cccccc;
}

.headding {
  margin: 8px 0 0 5px;
  font-size: 24px;
  line-height: 27px;
  font-weight: bolder;
  font-family: Lato-Bold;
  color: #545454;
  float: left;
}

.specialCardTop {
  margin: 10px 0px;
  background-color: white;
  width: 100%;
  border-radius: 2px 2px 0px 0px;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card {
  margin: 10px 0px 8px 0px;
  background-color: white;
  width: 100%;
  border-bottom: 2px solid #f6f6f6;
}

.space {
  margin-top: 10px;
}

.userName {
  color: #696969;
  font-family: Lato-Regular;
  font-size: 15px;
}

.userDetails {
  color: #696969;
  font-family: Lato-Regular;
  font-size: 12px;
}

.image-slide {
  margin: 0px 0px 0px 0px;
  width: 100%;
}

/*.shadowStyle {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}*/

.read {
  margin-top: 10px;
  color: #a1a1a1;
}

.optionIcon {
  margin: 10px 5px 10px 0px;
}

.filterIcon {
  margin: 6px 7px 0px 30px;
}

.customFiltr {
  color: white;
  margin-right: 5px;
  /*width: 25px;*/
}

.channelImages {
  width: 100%;
  margin-top: 8px;
}

.countAdjust {
  padding: 6px 0 0 5px;
  font-size: 13px;
}

.userTab {
  margin-top: 8px;
}

.channelCommnt {
  margin: 0 2px 0 0px;
}

.videogular-container {
  width: 100%;
  height: 320px;
  margin: auto;
  overflow: hidden;
}

videogular div.my-logo-layer {
  position: absolute;
  display: block;
  z-index: 50;
  top: 0;
}

videogular div.my-logo-layer img {
  width: 150px;
  height: auto;
  padding-left: 20px;
  padding-top: 20px;
  opacity: 0.5;
}


/*---------------------------------------------- community List page ---------------------------------------*/

.signinBtn {
  color: #F83A48 !important;
  border-color: #F83A48 !important;
  background: #F7F7F7 !important;
  padding: 10px 0;
  margin-top: 40px;
  text-transform: uppercase;
}

.FlotIcon {
  width: 65px;
}

.SpanHeader {
  padding: 12px 0;
}

.HeaderTitle {
  font-family: Lato-Regular;
  margin-top: 5px;
}

.cardAlign {
  /*box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);*/
}

.myCommunityCard{
  margin-bottom: 28px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.myCommunityOuter{
  padding: 0 10px;
}

.ContentHeading {
  font-family: Lato-Bold;
  color: white;
  font-size: 16px;
  margin: 0 0 0 1px;
  font-weight: 600;
}

.myCommunityNames {
  bottom: 7px;
}

.StartDate {
  color: white;
  font-size: 12px;
  font-family: Lato-Regular;
}

.sinceText {
  font-style: italic;
}

.MemberCount {
  text-align: center;
  color: white;
  font-size: 12px;
  font-family: Lato-Regular;
  padding-left: 5px;
}

.btnDesign:hover {
  background-color: white;
}

.btnDesign {
  background-color: Transparent;
  color: white;
  border: solid 1px white;
  width: 110px;
  border-radius: 7px;
  font-size: 12px;
  font-family: Lato-Bold;
}

.ImageSize {
  width: 100%;
  border-radius: 3px;
  height: 230px;
}
.imageSizeCard{
  width: 100%;
  height: 230px;
}

.ContentList {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0!important;
  /*background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .9)) repeat scroll 0% 0% transparent;*/
  bottom: 0;
  right: 0;
  border-radius: 3px;
}

.discoverContent {
  position: absolute;
  bottom: 1px;
  left: 0px;
  z-index: 1;
  padding: 45px 0 6px 6px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(23, 20, 20, .6)) repeat scroll 0% 0% transparent;
}

.paddingTop {
  padding: 0!important;
  top: 40px;
}

.BirdHeading {
  text-align: center;
  font-family: Lato-Bold;
  color: white;
  font-size: 18px;
  padding-top: 50px;
}

.openBtn {
  padding-top: 20px;
}

.SecondCard {
  padding: 8px 10px 5px 10px !important;
}

.btnAlignment {
  margin-top: 10px;
}

.FooterMenu {
  background: black;
  position: fixed;
  z-index: 10001;
  bottom: 0px;
  width: 100%;
  height: 40px;
}

.SpanMenu {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  fill: white;
}

.SwitchIcon {
  margin-left: 15px;
}

.Notification {
  margin-left: 30px;
}

.SidemenuHead {
  font-family: Lato-Regular;
  font-size: 20px !important;
}

.InputFilter {
  background: url('../images/flt_filtr.svg') no-repeat right !important;
  width: 100%;
}

.FilterSubHeading {
  color: grey;
  font-family: Lato-Regular;
  font-size: 14px;
}

.FilterSubHeadingTop {
  color: grey;
  font-family: Lato-Regular;
  font-size: 14px;
  padding-top: 10px;
}

.FilterSubHeadingHome {
  font-family: Lato-Regular;
  font-size: 14px;
  color: #444 !important
}

.SidemenuContents {
  font-size: 12px;
  padding: 20px 0 0 0;
  font-family: Lato-Regular;
}

.SidemenuImg {
  width: 30px;
  height: 30px;
}

.OthersContent {
  margin-top: 50px;
  padding-left: 0;
}

.channelNameAdjust {
  padding-top: 5px;
}

.sideMenu {
  width: 20%;
  position: fixed;
  z-index: 2;
  overflow-y: auto;
  top: 55px;
  bottom: 0;
}

.communityInfoContainer {
  margin-top: 21px;
}

.buttonSpace {
  margin-bottom: 40px;
}


/*---------------------------------------------postDetails------------------------------------------------------*/

.postHeading {
  padding: 15px 0px 15px 15px;
  border-bottom: 2px solid #cccccc;
  background-color: white;
}

.postHeader {
  margin-left: 10px;
  font-size: 17px;
  font-family: Lato-Regular;
}

.postSubhead {
  color: blue;
  margin-top: 10px;
  font-size: 15px;
  background-color: white;
}

.postMsg {
  padding-top: 15px;
  background-color: white;
}

.postInfo {
  margin-top: 3px;
  background-color: white;
}

.postMonth {
  margin-left: 3px;
  font-size: 10px;
}

.postBadge {
  height: 20px;
  width: 20px;
  margin-right: 3px;
  margin-left: -3px;
}

.postMaininfo {
  background-color: white;
}

.postMainheading {
  font-family: Lato-Bold;
  background-color: white;
  margin: 10px 0px 5px 0px;
  padding-left: 13px;
}

.postImage {
  width: 100%;
}

.postMsg {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-bottom: 2px solid #cccccc;
  background-color: white;
}

.postBack {
  width: 20px;
  height: auto;
  margin-top: -7px;
}

.postProfile {
  border-radius: 3px;
  height: 40px;
  width: 45px;
  padding-right: 0px;
  background-size: cover;
}

.postSession {
  font-size: 10px;
  background: white;
  padding-bottom: 7px;
}


/*-----------------------------------------------------------Eventpage----------------------------------------------------*/

.eventPropertiesPlace {
  margin: 10px 0 10px 0;
  /*white-space: nowrap;*/
}

.eventProperties {
  display: inline-block;
}

.DateIcon {
  margin: 0 5px 0 0;
  width: 20px;
}

.eventIcon {
  width: 20px;
  margin: 0 5px 0 0;
}


/*--------------------------------------------------------------link page---------------------------------------------------*/

.innerCard {
  margin: 8px 0px 10px 0px;
  background-color: white;
  border: .2px solid #cccccc;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 2px 1px -1px #CACACA;
}

.linkDetails {
  margin: 10px 0 0 0;
  padding-left: 20px;
  font-family: Lato-Bold;
}

.linkDecration {
  margin: 5px 0 10px 0;
  padding-left: 20px;
  color: #a1a1a1;
}

.linkImages {
  width: 100%;
}

.video {
  width: 100%;
  margin: 10px 0 10px 0;
}


/*------------------------------------------------------------popup comment page------------------------------------*/

.commntNames {
  font-size: 10px;
  margin: 5px 0 0 5px;
}

.popupuserImage {
  width: 30px;
}

.cmmntreply {
  margin-left: 30px;
  color: #8fb8cc !important;
}

.popupUserTab {
  margin-top: 15px;
}

.cmmntTime {
  margin: 4px 0;
  color: #a1a1a1;
  font-size: 12px;
}

.commentContent {
  font-size: 13px;
}

.smilyDesign {
  border: none !important;
  background-color: none !important;
}

.iconBoxSmily {
  margin: 42px 0 0 0;
  width: 30px;
}

.commentText {
  margin-top: 10px !important;
}

.commentBoxStyle {
  background-color: white !important;
}

.popupClose {
  margin-right: 10px;
}

.viewCmmntreply {
  color: #8fb8cc !important;
  font-size: 12px;
}

.viewreplyUserTab {
  margin: 15px 0 0 42px;
}


/*--------------------------sideBardetails----------------------*/

.sideBadge {
  height: 11px;
  width: 20px;
}

.postWrite {
  width: 22px;
}

.postWriteimage {
  padding-left: 6px;
}

.nickName {
  font-size: 12px;
}

.postList {
  margin-top: 30px;
  padding-left: 15px;
  font-family: Lato-Regular;
  font-size: 14px;
}

.myspostImage {
  width: 30px;
}

.exitImage {
  width: 25px;
}

.myPost {
  padding-left: 17px;
  text-decoration: none !important;
  color: #444 !important;
}

.myLogout {
  padding-left: 20px;
}

.eventList {
  padding-left: 15px;
  font-family: Lato-Regular;
  font-size: 14px;
  margin-top: 14px;
  color: black !important;
  text-decoration: none !important;
}

.userSettings {
  padding-left: 15px;
  font-family: Lato-Regular;
  font-size: 14px;
  margin-top: 40px;
}

.eventExit {
  padding-left: 19px;
  font-family: Lato-Regular;
  font-size: 14px;
  margin-top: 10px;
}

.myPostinfo {
  background-color: white;
  border-radius: 3px;
  padding-right: 0px;
  background-size: cover;
  padding-left: 0px;
  margin-top: 20px;
}

.myProfile {
  border-radius: 3px;
  height: 40px;
  width: 45px;
  padding: 0px;
  background-size: cover;
}

.myProfile1 {
  margin-left: 15px;
  border-radius: 3px;
  height: 40px;
  width: 45px;
  padding-right: 0px;
  background-size: cover;
}

.postMaininfo {
  padding-right: 3px;
  padding-left: 0px !important;
}

.useName {
  color: #696969;
  font-family: Lato-Regular;
  font-size: 18px;
  padding-left: 70px;
}

.sideBarMenu {
  padding: 0 !important;
}

.sideBarMenu .ngdialog-content {
  padding: 0 !important;
}

.eventListcomunity {
  padding-left: 15px;
  font-family: Lato-Regular;
  font-size: 14px;
  margin-top: 10px;
  padding-bottom: 40px;
}

.userTab1 {
  overflow-y: scroll;
}


/*----------------------------------Channel Popup ------------------------------------------*/

.myLabel {
  padding-left: 15px;
}

.sideChannel {
  margin: 15px 0 0px 0;
  /*padding-right: 15px;*/
}

.myChannel {
  margin-top: 20px;
}

.InputFilter {
  background: url('../images/flt_filtr.svg') no-repeat right !important;
  width: 100%;
}

.myStarred {
  color: grey;
  font-size: 14px;
  padding: 0px;
}

.newFontStarred {
  font-family: Lato-Regular;
  margin-top: 30px;
}

.myParadise {
  font-size: 14px;
  margin-top: 30px;
  padding-left: 15px;
}

.myParadiseFonts {
  color: #545454;
  font-size: 14px;
  padding-left: 15px;
}

.myParadiseChannelLast {
  font-size: 14px;
  margin: 20px 0 50px 0;
  padding-left: 12px;
}

.myParadiseChannelList {
  font-size: 14px;
  margin-top: 20px;
  padding: 0px;
}

.myspostImages {
  height: 28px;
  width: 45px;
}

.mypostImage {
  height: 20px;
  width: 20px;
}

.myOthers {
  color: grey;
  padding: 30px 0px 0px 0px;
}

.myspostClose {
  height: 12px;
  width: 12px;
}

.myClose {
  padding: 10px 15px 0px 0px;
}

md-input-container .md-errors-spacer {
  min-height: 0px !important;
}


/*----------------header-----------------*/

.navbarHead {
  width: 100%;
  height: 54px;
  background-color: black;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 25;
}

.navFloktIcon {
  margin-left: 60px;
  margin-top: 7px;
}

.searchInputSize {
  width: 100%;
  background-color: #545454;
  border-color: transparent;
  border-radius: 1px;
  height: 27px;
  color: white;
  margin-top: 13px;
  font-size: 12px;
  color: #a1a1a1;
  padding-left: 10px;
}

.searchInputIcon {
  position: absolute;
  z-index: 10;
  right: 14px;
  top: 13px;
}

.userIcon {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-left: 30px;
}

.menuPadding {
  margin-right: 50px;
}

.menuTag {
  color: white;
  border: 1px solid white;
  border-radius: 3px;
  font-size: 11px;
  padding: 2px 8px;
  margin: 17px 26px 0 0;
  text-transform: uppercase
}

.headerCommunityName {
  font-size: 23px;
  color: white;
  margin: 11px 10px 0 0px;
  float: left;
}


/*----------------------------------------SignUp Popup---------------------------------------------*/

.signupBody {
  background-color: #f2f4f4;
}

.signCard {
  font-size: 13px;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.wantToSignIn {
  margin: 0 0 15px 0;
  font-size: 12px;
  cursor: pointer;
}

.dateBirth {
  font-family: Lato-Regular;
  text-align: center;
  color: #a1a1a1;
}

.editImg {
  width: 20px;
  padding-bottom: 5px;
}

.commentBox {
  padding-left: 15px;
}

.shareImag {
  padding-right: 7px;
}

.errorMsg {
  font-size: 11px;
  height: 11px;
  color: rgb(221, 44, 0);
  line-height: 11px;
}

.enterOtpInput {
  margin-top: 15px;
}

.resendPinBtn {
  color: rgba(0, 0, 0, 0.38) !important;
}

.errorExclamation {
  position: absolute;
  right: 15px;
  top: 21px;
}


/*#editSideMenuInput md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input, md-input-container:not(.md-input-invalid).md-input-focused .md-input, md-input-container.md-default-theme:not(.md-input-invalid).md-input-resized .md-input, md-input-container:not(.md-input-invalid).md-input-resized .md-input{
  border-color:#f83a48;
}*/

:focus {
  outline: none;
}

.header>md-backdrop {
  position: fixed;
}

.header>md-sidenav {
  position: fixed
}


/*-----------------------------------------select channel--------------------------------------------------------------*/

.previewLabl {
  color: #a1a1a1;
  width: 20px;
  padding-left: 15px;
  font-weight: 600;
}

.selectChannelText {
  font-weight: 600;
  padding-right:15px
}

.postHead {
  font-family: Lato-Regular;
  height: 25px;
  padding-top: 8px;
  padding-left: 10px;
}

.selectHeading {
  font-family: Lato-Regular;
  text-align: center;
  padding-top: 30px;
}

.outerPopdiv {
  background-color: #f2f2f2;
}

/*.channelHeader {
  height: 50px;
}*/

.backBtnimg {
  padding-left: 5px;
  padding-top: 13px;
}

.containInpt {
  height: 115px;
}

.mdContainer {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}


/*-----------------------------------------------newPost-------------------------------------------*/

.newPostHeadding {
  font-size: 14px;
  margin: 10px 15px 10px 0;
}

.nextPage {
  color: #008cf0;
}

.PostTitle {
  margin: 15px 0 15px 0;
}

.postBoxStyle {
  background-color: white !important;
}

.postCheckbox {
  margin: 15px 0 0 16px;
}

.checkboxTitle {
  margin: 0 0 0 7px;
}

.newPostattachMedia {
  padding: 20px 20px 10px 20px;
  font-size: 14px;
  line-height: 14px;
  color: #a1a1a1;
}

.mediaArray {
  padding: 5px;
  width: 100%;
  height: 80px;
  margin: 5px 0 10px 0px;
}

.newmediaArray {
  border: 5px solid white;
  width: 100%;
  height: 80px;
  margin: 5px 0 10px 0px;
  background-color: #ccc;
  cursor: pointer;
}

#datePicker md-icon {
  display: none;
}

#datePicker .md-button.md-icon-button{
  /*margin: 0 0px !important;*/
  height: 0px !important;
  /*padding: 0px !important;*/
  width: 0px !important;
}

#datePicker .md-datepicker-input-container{
  width : 100% !important;
  margin-left: 0 !important
}

#datePicker .md-datepicker-input{
  width: 100% !important;
}

#timePicker md-icon {
  display: none;
}

#timeFormatPicker md-icon {
  display: none;
}

#timeHourPicker md-icon {
  display: none;
}


/*md-input-container:not(.md-input-invalid).md-input-focused .md-input {
  border-color: #F83A48 !important;
}*/

#customInputContainer {
  margin: 0px !important;
  padding: 10px;
}

#customSecndField {
  margin: 0px !important;
  padding: 10px;
}

md-input-container .md-errors-spacer {
  min-height: 0 !important;
}

#customInputContainerCity {
  margin-top: 5px !important;
}

#customInputContainer md-input-container {
  margin: 0px;
}

#customSecndField md-input-container {
  margin: 0px;
}

#customInputContainerMap {
  margin: 0px !important;
}

.customInputCityField {
  margin-bottom: 10px;
}

.customNewPostFont {
  font-family: Lato-Regular !important;
}

#customErrorDiv md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label, md-input-container:not(.md-input-invalid).md-input-focused label {
  color: #F83A48;
}

#customErrorDiv md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input, md-input-container:not(.md-input-invalid).md-input-focused .md-input, md-input-container.md-default-theme:not(.md-input-invalid).md-input-resized .md-input, md-input-container:not(.md-input-invalid).md-input-resized .md-input {
  border-color: #f83a48 !important;
}
/*
#input_2 {
  pointer-events: none;
}*/

#onDate .md-datepicker-button {
  display: none;
}

#onDate .md-datepicker-input-container {
  margin-left: 0px;
}

#fromDate .md-datepicker-button {
  display: none;
}

#fromDate .md-datepicker-input-container {
  margin-left: 0px;
}

#timeCustom .md-button.md-icon-button {
  display: none;
}

#hourCustom .md-button.md-icon-button {
  display: none;
}

.md-default-theme .md-datepicker-input-container.md-datepicker-focused, .md-datepicker-input-container.md-datepicker-focused {
  border-bottom-color: #F83A48;
}

#customInputContainer label {
  font-weight: normal;
}

#onDate button, select, html, textarea, input {
  font-family: Lato-Regular;
}

#datePicker label {
  font-weight: normal;
}

#timePicker label {
  font-weight: normal;
}

#customSecndField label {
  font-weight: normal;
}

#timeFormatPicker label {
  font-weight: normal;
}

#timeHourPicker label {
  font-weight: normal;
}

#customInputContainerCity label {
  font-weight: normal;
}

#customInputContainerMap label {
  font-weight: normal;
}

#customInputContainerCity md-input-container.md-block {
  margin: 0px 16px 0 15px;
}

#customInputContainerMap md-input-container.md-block {
  margin: 14px 16px 20px 15px;
}

#timeFormatPicker md-input-container {
  margin: 0px 0 14px 0 !important;
}

#timeHourPicker md-input-container {
  margin: 0px 0 18px 0 !important;
}

.newPostCard {
  margin: 10px 0px 8px 0px;
  background-color: white;
  width: 100%;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.customBack {
  color: #ccc;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.maininfoPost {
  padding: 0px 0px 0px 0px !important;
  background-color: white;
}

.headingPost {
  padding: 15px 0px 10px 10px;
  background-color: #008AF4;
  font-family: Lato-Regular;
}

.backPost {
  height: 24px;
  width: auto;
  margin-bottom: 8px;
}

.headerPost {
  margin-left: 3px;
  font-size: 18px;
  font-family: Lato-Regular;
  color: #F6F6F6;
}

.infoPost {
  background-color: white;
  font-family: Lato-Regular;
}

.subheadPost {
  color: #C1C1C1;
  margin-top: 8px;
  font-size: 18px;
  background-color: white;
  padding-left: 10px;
}

.postChannelName {
  color: #757575;
  margin-top: 8px;
  font-size: 16px;
  background-color: white;
  padding-left: 10px;
}

.profilePost {
  padding-left: 10px;
}

.profileimgPost {
  height: 41px;
  width: 41px;
  padding-right: 0px;
  background-size: cover;
}

.nameUser {
  color: #008AF4;
  font-family: Lato-Regular;
  font-size: 14px;
  padding: 0px;
}

.nameUser1 {
  padding-left: 5px;
  padding-right: 0px;
}

.badgePost {
  height: 16px;
  width: 18px;
  margin: 4px 3px 0px 0px;
}

.expertUser {
  margin-top: 4px;
  font-size: 10px;
  padding: 0px 8px 0px 8px;
  color: #232323;
  border: 1px solid #232323;
  border-radius: 3px;
}

.expertUser1 {
  margin-left: 6px;
}

.imagePost {
  width: 100%;
}

.imagesChannel {
  width: 100%;
  padding-top: 8px;
}

.mainheadingPost {
  font-family: Fira-Sans-Regular;
  background-color: white;
  margin: 22px 0px 0px 0px;
  padding-left: 10px;
  font-size: 16px;
}

.sessionPost {
  margin-top: 8px;
  padding-left: 10px;
  font-size: 10px;
  background: white;
  font-family: Fira-Sans-Light;
}

.msgPost {
  border-bottom: 1px solid #f6f6f6;
  background-color: white;
  bottom: 37px;
  padding: 0px 0px 15px 10px;
  margin-top: 35px;
}

.msgParagraph {
  font-family: Fira-Sans-Light;
  margin: 0px 0px 22px 0px;
  padding-right: 10px;
}

.msgParagraph1 {
  margin: 0px 0px 15px 0px;
  font-family: Fira-Sans-Light;
}

.panelIcon {
  position: absolute;
  padding: 0px 26px 0px 0px;
  left: 0;
  right: 0
}

.commentIcon {
  margin-left: 6px;
  padding: 0px 10px;
  background: white;
}

.boxIcon {
  width: 28px;
  height: 28px;
  display: inherit;
}

.boxIcon1 {
  width: 32px;
  height: 28px !important;
  padding-top: 2px;
}

.countLike {
  font-size: 10px;
  font-family: Fira-Sans-Light;
}

.countLike1 {
  font-size: 10px;
  font-family: Fira-Sans-Light;
  color: white !important;
}

.boxComment {
  margin-left: 30px;
  background-color: white !important;
  padding: 0px 10px;
}

.imagShare {
  padding: 0px 5px;
  background: #008AF4 !important;
  box-shadow: -4px 4px 4px 0px #f6f6f6;
  margin-right: 11px;
  color: #545454 !important;
}

.emoteActive{
  background:#FFCB1F !important;
  box-shadow: -4px 4px 4px 0px #dcdcdc;
}

.postMain {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

}
/*----------------------------------------preview publish--------------------------------*/
.paraContainer {
  box-shadow: 0 5px 5px -5px #333;
}
.subHead {
  background-color: #f2f2f2;
  width: 100%;
  height: 50px;
}
.saveDraft {
  color: #008cf0;
  padding-top: 15px;
  font-family: Lato-Regular;
}
.savePreview {
  padding-top: 15px;
  font-family: Lato-Regular;
}
.postBird {
  color: blue;
  font-size: 15px;
  background-color: white;
  color: #008cf0;
  padding-top: 10px;
}
#select_value_label_1 {
  text-align: left;
}
.postInfoPop {
  background-color: white;
}
.commonMargin {
  margin-top: 50px ;
}

#left{
  display: none;
}
/*------------------------------------card design-------------------------------------------*/
.nopadding{
  padding: 0px;
}
.eventImg{
  margin-bottom:22px;
}
.textCardBg {
  background: #f6f6f6 !important;
}
.tetxtCardPrg{
  padding-left: 10px;
  margin: 0 !important;
}
.tetxCardHead{
  margin-top: 8px !important;
  padding: 8px 10px 0 10px !important;
}
.textCardIcons{
  margin-bottom: 22px ;
}
.showSidebar{
  display: block !important;
}
.hideSidebar {
  display: none;
}
.marginAdj{
  padding-bottom: 15px;
}
.adjVideodiv{
  margin-top:8px;
}
.customMenu{
  right: 0;
  left: auto !important;
  margin-top: 7px;
}

.cntryCodeAdjs{
  padding-right: 5px ;
}

.inactiveEmote{
  box-shadow: -1px 1px 4px 0px #dcdcdc;
  background: #008cf0;
  padding: 0px 5px;
  margin-right: 0px;
}

.inactivePinCount {
  color: #545454 !important;
}

.unSelectedCount{
  color: #545454 !important;
}

#dobPicker{
  margin-left: 15px;
}

.commentEmoteIcon{
  width: 22px;
}

.commentOuterCard {
  padding: 10px 3px 0 3px;
  margin-top: 10%;
}

.commentUserPic {
  border-radius: 3px;
  width: 40px;
}

.commentTimeAdjust{
  padding-top: 5px;
}

.commentEmoteCountIcon{
  margin-left: 30px;
}

.commentBox{
  width: 81%;
  margin: 35px 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  box-shadow: none !important;
}

.commentSection{
  overflow: auto;
}
.noUserStyle{
  padding-bottom: 20px !important;
}

.loginToComment{
  margin: 15px 0 !important;
}

.commentReplyLink {
  font-size: 15px !important;
}

.ImageInCard {
  width: 100%;
  height: 260px;
}


/*-----------------------select channel---------------------*/
.outerPopdiv {
  background-color: #f2f2f2
+}
backImg{
  padding-left: 5px;
  font-family: Lato-Regular;
}
.textContainer {
width: 100%;
  height:100%;
  background-color: white;
  box-shadow: 2px;
}
.selectChannelDiv {
  padding-top: 50px;
  font-family: Lato-Regular
}
#comboBox md-select.md-default-theme .md-select-value, md-select .md-select-value {
  border-bottom-color: #a1a1a1 !important;
}

.channelHeader {
  width: 100%;
  background: #008af4;
  text-align: left;
  font-size: 16px;
  border-bottom: 3px solid #ECECEC;
  padding: 11px 10px !important;
  color: #f6f6f6;
}

.flocktHeaderCommunity{
  width: 100%;
  background: #008af4;
  text-align: left;
  font-size: 16px;
  padding: 4px 10px !important;
  color: #f6f6f6;
  position: fixed;
  z-index: 2;
}

.channelTitleContent {
  padding-left: 15px;
}
.channelPreview {
  font-family: Lato-Bold;
  font-size: 16px;
  color: #a1a1a1;
  padding-bottom: 10px;
  padding-right: 10px;
}
.channelPublish {
  font-family: Lato-Bold;
  font-size: 16px;
padding-bottom: 10px;
  padding-left: 10px;
}

#comboBox md-select-value{
  text-align: center !important;
}

#customSecndField md-input-container textarea.md-input{
  min-height: 90px !important;
}

.previewBack {
  width: 24px;
}

.previewHeaderText{
  font-size: 18px;
  padding-left: 13px;
}
.previewHeader{
  padding: 15px 0;
  border-bottom: 3px solid #ECECEC;
}

.actionBar{
  background: #F7F7F7;
  padding: 15px;
}

.saveDraftPreview{
  font-family: Lato-Regular;
}

.pusblishPostPreview {
  font-weight: 500;
  color: #008cf0;
}

.previewChannelName{
  color: #008cf0;
}

.paddingRightOnly{
  padding-right: 10px;
}

#eventCheckBox md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon{
  background-color: #F83A48 !important;
}
#item-details mdp-date-picker .md-button.md-icon-button{
  margin: 10px 0 0 !important;
}
#item-details md-input-container{
  margin: 18px 0 5px !important;
}

#eventTimePicker mdp-time-picker .md-button.md-icon-button{
  margin: 12px 0 !important;
}

#dobDatePicker md-input-container{
  margin: 3px 0 0  !important;
}

#dobDatePicker .md-button.md-icon-button{
  margin: 0 !important;
}

.noCommunitite{
  padding: 40px 0;
  font-size: 13px;
}

.newPostSecondHeadrer{
  padding: 17px 10px !important;
}

md-toast.md-top {
    top: 50px !important;
}

md-toast{
  position: fixed !important;
}
.noPostSection{
  margin-top: 40px;
}
.replyBackBtn{
  width: 15px;
  margin-right: 10px;
}
.communityHeader{
  position: fixed;
  z-index: 1;
}

/* when showing the thing */
#communityHeader .ng-hide-remove      {
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;
}

/* ANIMATIONS (FROM ANIMATE.CSS) */

/* flip in */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:.75s;
  -moz-animation-duration:.75s;
  animation-duration:.75s;
}

@-webkit-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@-moz-keyframes fadeOut { from { opacity:1; } to { opacity:0; } }
@keyframes fadeOut { from { opacity:1; } to { opacity:0; } }

.fade-out {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeOut ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeOut ease-in 1;
  animation:fadeOut ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:.55s;
  -moz-animation-duration:.55s;
  animation-duration:.55s;
}

.reduceOpacity{
  opacity: 0 !important
}

.loadingScreen{
  position: fixed;
  z-index: 25;
  background: white;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.carousel-indicators{
  display: none !important;
}

.timeSet{
  margin: 0 0 8px 0 !important;
}

.readMoreLink{
  text-decoration: none !important;
  color: inherit !important;
  padding-left: 10px !important;
  display: block;
  font-family: Fira-Sans-Light;
  margin-top: 22px;
}
