<div class="col-md-12 col-xs-12 headingPost nopadding channelHeader ">
	<img src="../images/flt-03.svg" class="backPost">
	<span class="headerPost">DOG LOVERS </span>
	<span class="glyphicon glyphicon-option-vertical pull-right optionIcon customFiltr "></span>
	<div class="col-xs-12 noPadding"> /// {{channelPosts[0].display_name}}</div>
</div>
<div class="col-xs-12 noPadding" ng-clock>
	<div class="col-xs-12 noPadding" ng-repeat="post in channelPosts" from="'communityInfo'" ng-if="channelPosts.length" >
		<text-card details="post" community="channelPostPayload.community_name" channelid="channelPostPayload.channel_id" ng-if="!post.content.images && post.content.post_type == 'Post'"></text-card>
		<image-card details="post" community="channelPostPayload.community_name" channelid="channelPostPayload.channel_id" ng-if="post.content.images.length  && post.content.post_type == 'Post'"></image-card>
		<event-card details="post" community="channelPostPayload.community_name" channelid="channelPostPayload.channel_id" ng-if="post.content.post_type == 'Event'"></event-card>
		<link-card details="post" community="channelPostPayload.community_name" channelid="channelPostPayload.channel_id" ng-if="post.content.post_type == 'Link'"></link-card>
	</div>
	<div class="col-xs-12 text-center noPostSection" ng-if="!channelPosts.length">
		<div class="col-xs-12 ">Sorry No Posts</div>
		<div class="col-xs-12 text-center"> <button class="btn btn-default comButton" ng-click="goToCreatePost()">Create New Post</button></div>
	</div>
</div>
