<div class="col-md-12 col-xs-12 headingPost nopadding channelHeader" ng-class="{'fade-in':showHeader, communityHeader:showHeader&&windowSize<=768}" id="communityHeader" ng-show="showHeader">
	<img src="../images/flt-03.svg" class="backPost">
	<span class="headerPost">{{communityDetails.display_name}}</span>
</div>
<div class="col-xs-12  noPadding" ng-show="$root.pageLoaded" scroll-trigger="scrollTriggered()">
	<div class="col-xs-12 noPadding">
		<div class="col-xs-12 noPadding">
			<div class=" col-xs-12 col-md-12 noPadding" ng-click="goToCommunityInfo()" ng-class="{reduceOpacity:showHeader&&windowSize<=768, 'fade-out':showHeader&&windowSize<=768, 'fade-in':!showHeader&&windowSize<=768}">
				<img ng-src="{{imageBaseUrl+communityDetails.desktop_url}}" class="banImag" ng-if="windowSize >= 768" style="max-height:auto !important"></img>
				<img ng-src="{{imageBaseUrl+communityDetails.mobile_url}}" class="banImag" ng-if="windowSize < 768" style="max-height:auto !important"></img>
				<div class="col-xs-12 ContentList banImag"></div>
				<div class="col-xs-12 discoverContent discoverLeft">
					<p class="ContentHeading pull-left">{{communityDetails.display_name}}</p>
					<span class="glyphicon glyphicon-option-vertical glyphicon-large pull-right comOpt"></span>
					<div class="col-xs-12 noPadding StartDate">
						<span class="sinceText pull-left">Since 0 <span class="MemberCount" style="font-style: normal">|</span> </span>
						<span class="MemberCount pull-left"> 0 Channels | </span>
						<span class="MemberCount pull-left"> 0 members</span>
					</div>
				</div>
			</div>
			<div class="col-xs-12  mainParagraph" ng-show="!$root.communityDetails.is_member">
				<p class="paragraphDetails">{{communityDetails.tag_line}} </p>
			</div>
			<div class="col-xs-12 mainPost text-center" ng-show="updateAgeSection">
				<div class="col-xs-6" style="padding-top:10px"><span class="dateBirth">{{ageError}}</span></div>
				<!-- <span><img src="../images/flt_edit.svg" class="editImg" ></span> -->
				<div class="col-xs-6 text-center">
					<mdp-date-picker mdp-open-on-click name="dateFormat" ng-model="joinCommunityPayload.dob" mdp-placeholder="Enter date" mdp-format="L" required id="dobDatePicker">
				</div>
			</div>

			<div class="col-xs-12  text-center comSubmit " ng-show="!$root.communityDetails.is_member">
				<input type="button" name="button" value="JOIN " class="comButton" ng-hide="updateAgeSection" ng-click="joinCommunity()">
				<input type="button" name="button" value="Update & Join " class="comButton" ng-hide="!updateAgeSection" ng-click="joinCommunity('update')">
			</div>

			<div class="col-xs-12 pull-left feature_Channel" ng-show="!$root.communityDetails.is_member">
				<div class="featureName">Featured Channel</div>
				<div class=" col-xs-12 comTypes">
					<span class="comElements" ng-click="goToChannel()">/// Labrador</span>
					<span class="comElements" ng-click="goToChannel()">/// Pug</span>
					<span class="comElements" ng-click="goToChannel()">/// Doberman</span>
					<span class="comElements" ng-click="goToChannel()">///Pit Bull</span>
					<span class="comElements" ng-click="goToChannel()">///Shitzu</span>
					<span class="comElements" ng-click="goToChannel()">/// Bull Dog</span>
					<span class="comElements" ng-click="goToChannel()">/// Rottweller</span>
					<span class="comElements" ng-click="goToChannel()">/// Great Dane</span>
				</div>
				<div class="col-xs-12 viewAll">
					<span><a href="" class="linkView">View All</a></span>
				</div>
			</div>

		</div>

		<div class="col-xs-12 noPadding" ng-repeat="communityPost in communityPosts" from="'communityInfo'">
			<text-card details="communityPost" community="communityPostPayload.community_name" ng-if="!communityPost.content.images && communityPost.content.post_type == 'Post'"></text-card>
			<image-card details="communityPost" community="communityPostPayload.community_name" ng-if="communityPost.content.images.length  && communityPost.content.post_type == 'Post'"></image-card>
			<event-card details="communityPost" community="communityPostPayload.community_name" ng-if="communityPost.content.post_type == 'Event'"></event-card>
			<link-card details="communityPost" community="communityPostPayload.community_name" ng-if="communityPost.content.post_type == 'Link'"></link-card>
		</div>

		<div class="col-xs-12 text-center noPostSection" ng-if="$root.communityDetails.is_member&&!communityPosts.length">
			<div class="col-xs-12 ">Sorry No Posts</div>
			<div class="col-xs-12 text-center">
				<button class="btn btn-default comButton" ng-click="goToCreatePost($root.communityDetails.community_name)">Create New Post</button>
			</div>
		</div>

	</div>
</div>
