<div class="col-md-12 col-xs-12 headingPost nopadding  flocktHeaderCommunity" ng-show="windowWidth <=768">
	<img src="../images/flockt-white-logo.png" class="whiteLogo">
</div>
<div class="col-xs-12 col-md-12 OutsideDiv" style="height:{{windowHeight}}px;">
	<div class="col-xs-12 text-center noCommunitite" ng-if="!otherCommunities.length"> No Communities</div>

	<div class=" col-xs-12 col-md-12 noPadding cardAlign communityCarouselSection" uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides" ng-if="otherCommunities.length">
		<div uib-slide ng-repeat="community in otherCommunities" index="$index" no-wrap="true" ng-click="goToCommunityInfo(community.c_name)">
			<img ng-src="{{imageBaseUrl+community.desktop}}" class="ImageSize carouselImage" ng-if="community.desktop"></img>
			<img ng-src="../images/sm1.png" class="ImageSize carouselImage" ng-if="!community.desktop"></img>
			<div class="col-xs-12 ContentList"></div>
			<div class="col-xs-12 discoverContent">
				<p class="ContentHeading pull-left">{{community.name}}</p>
				<div class="col-xs-12 noPadding StartDate">
					<span class="sinceText pull-left">Since {{convertToTimeStamp(community.created_date) | date :'MMMM'}} {{convertToTimeStamp(community.created_date) | date :'yyyy'}} <span class="MemberCount" style="font-style: normal">|</span> </span>
					<span class="MemberCount pull-left"> {{community.member_count}} members</span>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-md-12 SecondCard">
		<span class="pull-left">My Communities</span>
	</div>

	<div class="col-xs-12 myCommunityOuter">
		<div class=" col-xs-12 col-md-12 noPadding myCommunityCard" ng-repeat="community in myCommunities" ng-click="goToCommunityInfo(community.c_name)" md-swipe-left="discoverNextCard('leftSwipe')" md-swipe-right="discoverNextCard('rightSwipe')">
			<img ng-src="{{imageBaseUrl+community.desktop}}" class="imageSizeCard" ng-if="community.desktop"></img>
			<img ng-src="../images/sm1.png" class="imageSizeCard" ng-if="!community.desktop"></img>
			<div class="col-xs-12 ContentList"></div>
			<div class="col-xs-12 discoverContent">
				<p class="ContentHeading pull-left">{{community.name}}</p>
			</div>
		</div>
	</div>

	<div class="col-xs-12 buttonSpace">
		<button class="col-xs-6 col-xs-offset-3 btn btn-default signinBtn" ng-if="$storage.userDetails.hasUser == false || !$storage.userDetails.hasUser" ng-click="$root.clickButton('signin')">Sign In</button>
	</div>

</div>
