<div class="col-md-12 col-xs-12 cardDesign noPadding">
  <div class="col-md-12 col-xs-12 card nopadding">
    <div class="col-xs-12 postChannelName">
      /// {{details.display_name}}
    </div>
    <div class="col-md-12 col-xs-12  userTab noPadding">
      <div class=" profilePost">
        <img class="profileimgPost pull-left" src="/images/pro1.png" />
      </div>
      <div class="col-xs-10 nameUser">
        <div class="col-xs-12 nameUser1">{{details.member_name}}</div>
        <div class="col-xs-12 nameUser1">
          <img class="badgePost pull-left" src="/images/flt_badge.svg">
          <span class="pull-left expertUser">Expert Trainer</span>
          <span class="pull-left expertUser expertUser1">Expert Trainer</span>
          <a class="dropdown-toggle " data-toggle="dropdown"><span class="glyphicon glyphicon-option-vertical glyphicon-large pull-right overFlowIcon"></span></a>
          <ul class="dropdown-menu customMenu">
            <li><a>Report</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-xs-12 image-slide nopadding eventImg">
      <a class="col-xs-12 noPadding" href="/postDetails/{{community}}/{{channelid}}/{{details.post_id}}">
        <img class="channelImages" ng-src="{{details.content.images[0]}}" />
      </a>
    </div>

    <div class="col-xs-12 maininfoPost">
      <h3 class="mainheadingPost  tetxCardHead">{{details.title}}</h3>
      <div class=" col-xs-12 pull-left  sessionPost ">
        <p class="timeSet" am-time-ago="details.created_date | amParse:'YYYY-MM-DD HH:mm:ss'"></p>
      </div>
      <p class="msgParagraph tetxtCardPrg">{{details.content.content | words:15 }}</p>
      <a class="col-xs-12 readMoreLink" href="/postDetails/{{community}}/{{channelid}}/{{details.post_id}}">Read More...</a>
    </div>
    <div class="col-md-12 col-xs-12" style="padding-left:10px">

      <div class="col-xs-12 pull-left nopadding">
        <span class="eventProperties">
          <img class=" pull-left DateIcon" src="/images/flt_calendar.svg">

          {{ details.content.start_date| date:'EEE'}} {{ details.content.start_date| date:'dd'}} {{ details.content.start_date| date:'MMM'}} {{ details.content.start_date| date:'yyyy'}}
           to {{ details.content.end_date| date:'EEE'}} {{ details.content.end_date| date:'dd'}} {{ details.content.end_date| date:'MMM'}} {{ details.content.end_date| date:'yyyy'}}
             | {{  details.content.start_time |date:'shortTime'}} | {{details.content.duration}}hrs
        </span>
      </div>

      <div class="col-xs-12 pull-left nopadding eventPropertiesPlace">
        <img class="pull-left eventIcon" src="/images/flt_event.svg">
        <span>{{ details.content.city}} | {{ details.content.location}}</span>
      </div>
    </div>


    <div class="col-xs-12 msgPost " style="margin-top:45px;">
      <div class="col-md-12 col-xs-12 panelIcon">
        <span class="pull-left commentIcon">
          <img class="boxIcon commentLight" src="/images/flt_comment.svg" ng-click="getComments(details.post_id , true)"/>
          <div class="countLike text-center">{{details.comment_count}}</div>
        </span>
        <span class="boxComment pull-left"><img class="boxIcon" src="/images/flt_share.svg" />
          <div class="countLike1 text-center" style="color:#757575;">{{details.share_count}}</div>
        </span>
        <span class="pull-right inactiveEmote" ng-class="{emoteActive: details.is_emoted}" ng-click="details.is_emoted ? emotePost(0) : emotePost(1)">
          <img class="boxIcon1 " src="/images/flt_like.svg"/>
          <div class="countLike1 text-center" >{{details.emote_count}}</div>
        </span>
      </div>
    </div>

  </div>
</div>
