<div class="col-md-12 col-xs-12 cardDesign noPadding">
  <div class="col-md-12 col-xs-12 specialCardTop nopadding">

    <div class="col-md-12 col-xs-12 postChannelName">
      ///{{details.display_name}}
    </div>

    <div class="col-md-12 col-xs-12  userTab noPadding">
      <div class=" profilePost">
        <img class="profileimgPost pull-left" src="/images/pro1.png" />
      </div>
      <div class="col-md-10 col-sm-10 col-xs-9 nameUser">
        <div class="col-xs-12 nameUser1">{{details.member_name}}</div>
        <div class="col-xs-12 nameUser1">
          <img class="badgePost pull-left" src="/images/flt_badge.svg">
          <span class="pull-left expertUser">Expert Trainer</span>
          <span class="pull-left expertUser expertUser1">Expert Trainer</span>
          <a class="dropdown-toggle " data-toggle="dropdown"><span class="glyphicon glyphicon-option-vertical glyphicon-large pull-right overFlowIcon"></span></a>
          <ul class="dropdown-menu customMenu">
            <li><a ng-click="gotToMyProfile()">Report</a></li>
            <!-- <li><a href='' ng-click="logout()">Logout</a></li> -->
          </ul>
        </div>
      </div>
    </div>

    <div class="col-xs-12 shadowStyle nopadding" ng-if="details.content.images.length == 1">
      <img class="channelImages" ng-src="{{details.content.images[0]}}" />
    </div>

    <div class="col-xs-12 shadowStyle nopadding" ng-if="details.content.images.length > 1">
      <a class="col-xs-12 noPadding" href="/postDetails/{{community}}/{{channelid}}/{{details.post_id}}">
        <div class=" col-xs-12 col-md-12 noPadding channelImages" uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
          <div uib-slide ng-repeat="image in details.content.images" index="$index" no-wrap="true">
            <img ng-src="{{image}}" class="ImageInCard"></img>
          </div>
        </div>
      </a>
    </div>

    <div class="col-xs-12 noPadding  textCardIcons">
      <div class="col-xs-12  maininfoPost ">
        <h3 class="mainheadingPost  tetxCardHead">{{details.title}}</h3>
        <div class=" col-xs-12 pull-left  sessionPost ">
          <p class="timeSet" am-time-ago="details.created_date | amParse:'YYYY-MM-DD HH:mm:ss'"></p>
        </div>
      </div>
      <p class="msgParagraph tetxtCardPrg">{{details.content.content | words:15 }}</p>
      <a class="col-xs-12 readMoreLink" href="/postDetails/{{community}}/{{channelid}}/{{details.post_id}}">Read More...</a>
    </div>

    <div class="col-xs-12 msgPost">
      <div class="col-md-12 col-xs-12 panelIcon">
        <span class="pull-left commentIcon">
          <img class="boxIcon commentLight" src="/images/flt_comment.svg" ng-click="getComments(details.post_id , true)"/>
          <div class="countLike text-center">{{details.comment_count}}</div>
        </span>
        <span class="boxComment pull-left"><img class="boxIcon" src="/images/flt_share.svg" />
          <div class="countLike1 text-center" style="color:#757575;">{{details.share_count}}</div>
        </span>
        <span class="pull-right inactiveEmote" ng-class="{emoteActive: details.is_emoted}" ng-click="details.is_emoted ? emotePost(0) : emotePost(1)">
          <img class="boxIcon1 " src="/images/flt_like.svg"/>
          <div class="countLike1 text-center" >{{details.emote_count}}</div>
        </span>
      </div>
    </div>

  </div>
</div>
