<div class="col-xs-12 col-md-12 noPadding" ng-show="!selectChannelSection">
  <div class="col-md-12 col-xs-12  channelHeader nopadding">
    <div class="col-xs-12 col-md-12 newPostHeadding">
      <img class="pull-left customBack " src="/images/flt_back.svg" />
      <span>NEWPOST/EVENT</span>
      <span class="pull-right nextPage" ng-click="nextBtnClick()" style="color:white">NEXT</span>
    </div>
  </div>
  <div class="col-md-12 col-xs-12 cardDesign">
    <div class="col-md-12 col-xs-12 newPostCard nopadding">
      <div class="col-md-12 col-xs-12 PostTitle customNewPostFont" ng-form="mainForm">
        <div class="col-xs-12 col-md-12" id="customInputContainer">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Title</label>
            <input id="customErrorDiv" ng-change="checkForUrl('title')" ng-model="title" required />
          </md-input-container>
        </div>
        <div class="col-xs-12 col-md-12 " id="customSecndField">
          <md-input-container class="md-block">
            <label>Note</label>
            <textarea ng-change="checkForUrl('description')" ng-model="description" md-maxlength="1500" rows="15" required></textarea>
          </md-input-container>
          <div class="col-xs-12 noPadding" ng-show="showPreview">
            <link-card details="createPostPayload" from="'createPost'"></link-card>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-xs-12 cardDesign">
    <div class="col-md-12 col-xs-12 newPostCard ">
      <div class="col-xs-12 postCheckbox nopadding">
        <div flex-gt-sm="50">
          <span class=" checkboxTitle">This is an event</span>
          <md-checkbox  ng-model="eventPost"  name="item" class="pull-left" aria-label="Checkbox 1" id="eventCheckBox">
          </md-checkbox>
        </div>
      </div>
      <div class="col-xs-12 noPadding" ng-show="eventPost" id="item-details" ng-form="eventForm">
        <div class="col-xs-12 noPadding" id="datePickerr">
          <div class="col-xs-6 noPadding">
              <mdp-date-picker mdp-open-on-click required name="dateFormat" mdp-placeholder="On / From" mdp-format="ll" mdp-min-date="myDate" ng-model="eventPayload.start_date" required>
          </div>
          <div class="col-xs-6 noPadding">
              <mdp-date-picker mdp-open-on-click required name="dateFormat" mdp-placeholder="On / From" mdp-format="ll" mdp-min-date="myDate" ng-model="eventPayload.end_date" required>
          </div>
        </div>

        <div class="col-xs-12 noPadding">
          <div class="col-xs-6 noPadding" id="eventTimePicker">
            <mdp-time-picker name="timeFormat" ng-model="eventPayload.start_time" mdp-format="HH:mm A" mdp-placeholder="Time" mdp-open-on-click required>
          </div>
          <div class="col-xs-6 noPadding">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Duration</label>
              <input type="number"  ng-model="eventPayload.duration" required/>
            </md-input-container>
          </div>
        </div>

        <div class="col-xs-12 " id="customInputContainerCity">
          <md-input-container class="md-block" flex-gt-sm>
            <label>City</label>
            <input type="text" id="customErrorDiv"  ng-model="eventPayload.city" required/>
          </md-input-container>
        </div>
        <div class="col-xs-12 " id="customInputContainerMap">
          <md-input-container class="md-block " flex-gt-sm id="locationReDesign">
            <label>Location/map link</label>
            <input type="text" id="customErrorDiv"  ng-model="eventPayload.location" required />
          </md-input-container>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-xs-12 cardDesign">
    <div class="col-md-12 col-xs-12 newPostCard nopadding">
      <div class="col-xs-12 newPostattachMedia">
        Attach Media
      </div>
      <div class="col-xs-12 newPostMediaPanel">
        <div class="col-xs-4 nopadding " ng-repeat="image in createPostPayload.images">
          <img class="mediaArray" ng-src="{{image}}" />
        </div>
        <div class="col-xs-4 nopadding ">
          <img class="newmediaArray" src="/images/flt_add photo.svg" ngf-select="uploadFiles($files, $invalidFiles)" multiple accept="image/*" ngf-max-height="10000" ngf-max-size="10MB" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12 outerPopdiv noPadding" style="height:{{selectChannelPopupHeight}}px" ng-show="selectChannelSection && !preview ">
  <div class="col-xs-12 channelHeader noPadding newPostSecondHeadrer">
    <img src="../images/back-arrow.svg" class="backBtnimg pull-left" style="padding-top:3px;">
    <span class="postHead pull-left" ng-click="selectChannelSection = false" style="height:auto;padding:0">NEW POST/EVENT</span>
  </div>
  <p class="selectHeading" style="padding-top:85px;">
    SELECT A CHANNEL
  </p>
  <div class="col-xs-12 noPadding ">
    <div class="col-xs-12 signUpContainer signupBody">
      <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 containInpt channelSelectCard">
        <md-select placeholder="Select a channel" ng-model="selected_channel" md-on-open="loadUsers()" id="comboBox" class="mdContainer">
          <md-option ng-value="channel" ng-repeat="channel in currentChannels track by $index">{{channel.display_name}}</md-option>
        </md-select>
        <div class="col-xs-12 errorMsg text-center" ><span ng-if="selectChannelError">Select A Channel</span></div>
        <div class="col-xs-12 noPadding ">
          <span class="pull-left previewLabl" ng-click="previewPost()" ng-hide="createPostPayload.post_type == 'Link'">PREVIEW</span>
          <span class="pull-right selectChannelText" ng-click="createPost()">PUBLISH</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12" ng-show="preview">
  <div class="col-xs-12 previewHeader "><img src="../images/flt_back.svg" class="pull-left previewBack"><span class="pull-left previewHeaderText">Preview</span></div>
  <div class="col-xs-12 actionBar "><span class="pull-left saveDraftPreview">SAVE AS DRAFT</span> <span class="pull-right  pusblishPostPreview" ng-click="createPost()">PUBLISH</span></div>
  <div class="col-xs-12 subheadPost noPadding">
    /// {{selected_channel.display_name}}
  </div>
  <div class="col-md-12 col-xs-12  userTab noPadding">
    <div class=" profilePost" style="padding-left:0">
      <img class="profileimgPost pull-left" src="/images/pro1.png" />
    </div>
    <div class="col-xs-10 nameUser">
      <div class="col-xs-12 nameUser1 ">{{$storage.userDetails.name}}</div>
      <div class="col-xs-12 nameUser1">
        <img class="badgePost pull-left" src="/images/flt_badge.svg">
        <span class="pull-left expertUser">Expert Trainer</span>
        <span class="pull-left expertUser expertUser1">Expert Trainer</span>
      </div>
    </div>
  </div>
  <div class="col-xs-12 shadowStyle nopadding" ng-if="createPostPayload.images.length == 1">
    <img class="channelImages" ng-src="{{createPostPayload.images[0]}}" />
  </div>
  <div class="col-xs-12 shadowStyle nopadding" ng-if="createPostPayload.images.length > 1">
    <div class=" col-xs-12 col-md-12 noPadding channelImages" uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="image in createPostPayload.images" index="$index" no-wrap="true">
        <img ng-src="{{image}}" class="ImageInCard"></img>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-xs-12  " ng-if="createPostPayload.post_type =='Event'">
    <div class="col-xs-1 pull-left eventProperties nopadding">
      <img class=" pull-left DateIcon" src="/images/flt_calendar.svg">
    </div>
    <div class="col-xs-11 pull-left nopadding">
      <span class="eventProperties">{{ createPostPayload.start_date| date:'EEE'}} {{ createPostPayload.start_date| date:'dd'}}  {{ createPostPayload.start_date| date:'MMM'}} {{ createPostPayload.start_date| date:'yyyy'}} to {{ createPostPayload.end_date| date:'EEE'}} {{ createPostPayload.end_date| date:'dd'}} {{ createPostPayload.end_date| date:'MMM'}} {{ createPostPayload.end_date| date:'yyyy'}}  | {{  createPostPayload.start_time |date:'shortTime'}} | {{createPostPayload.duration}}hrs</span>
    </div>
    <div class="col-xs-1 pull-left nopadding eventPropertiesPlace">
      <img class="pull-left eventIcon" src="/images/flt_event.svg">
    </div>
    <div class="col-xs-10 pull-left nopadding eventPropertiesPlace">
      {{ createPostPayload.city}} | {{ createPostPayload.location}}
    </div>
  </div>
  <!-- <a herf="{{details.content.link_url}}" ng-if="createPostPayload.post_type == 'Link'">
      <div class="col-md-12 col-xs-12 innerCard nopadding">
        <img class="linkImages" ng-src="{{createPostPayload.images[0]}}" />
        <div class="col-xs-12 pull-left linkDetails">{{createPostPayload.title}}</div>
        <div class="col-xs-12 pull-left linkDecration">{{createPostPayload.base_url}}</div>
      </div>
    </a> -->
  <div class="col-xs-12 maininfoPost">
    <h3 class="mainheadingPost noPadding">{{createPostPayload.title}}</h3>
  </div>
  <div class=" col-xs-12 pull-leftn sessionPost">
    <!-- <p am-time-ago="details.created_date | amParse:'YYYY-MM-DD HH:mm:ss'"></p> -->
  </div>


  <div class="col-xs-12 noPadding msgPost">
    <p class="msgParagraph" style="padding-left:0px;" ng-click="$root.goToPostDetails()">{{createPostPayload.content}}</p>
  </div>

</div>
