<div class="col-md-4 col-md-offset-4 col-xs-12 cardDesign" ng-show="!viewreply" style="height:{{windowHeight}}px;margin-bottom:100px">
	<div class=" col-md-12 col-xs-12 card commentOuterCard">
		<img class="iconBox lightBulb commentEmoteIcon pull-left" src="/images/flt_like_inactive.svg" /><span class="pull-left commntNames"> {{details.emote_count}}</span>
		<div class="ngdialog-close popupClose pull-right"></div>
		<div class="col-xs-12 noPadding commentSection" style="height:{{commentHeight}}px">
			<div class="col-md-12 col-xs-12  popupUserTab nopadding" ng-repeat="comment in comments">
				<div class="col-xs-2 postProfile">
					<img class="commentUserPic" src="/images/pro1.png" ng-if="!comment.user_pic" />
					<img class="commentUserPic" ng-src="{{comment.user_pic}}" ng-if="comment.user_pic" />
				</div>
				<div class="col-xs-10 userName nopadding">
					<div class="col-xs-12">{{comment.profile_name}}</div>
					<div class="col-xs-12">
						<span class="pull-left commentContent">{{comment.content}}</span>
						<div class="col-xs-12 pull-left noPadding cmmntTime">
							<span class="pull-left commentTimeAdjust" am-time-ago="comment.created_date | amParse:'YYYY-MM-DD HH:mm:ss'"></span>
							<img class="commentEmoteIcon pull-left commentEmoteCountIcon " src="/images/flt_like_inactive.svg" ng-click="emoteComment(1, comment.comment_id, $index)" />
							<span class="pull-left commentTimeAdjust">{{comment.emote_count}}</span>
							<span class="cmmntreply commentTimeAdjust pull-left" ng-click="getCommentReply(comment.comment_id, $index)">Reply</span>
						</div>
						<div class="col-xs-12 noPadding" ng-if="comment.reply_count">
							<span ng-click="getCommentReply(comment.comment_id, $index)" class="pull-left viewCmmntreply">View all {{comment.reply_count}} replies</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-12 commentField" >
			<div class="col-xs-12 noPadding" ng-show="$storage.userDetails.hasUser">
				<img class="pull-left iconBoxSmily" src="/images/flt_happy.svg" >
				<input type="text" class="form-control pull-left commentBox" ng-model="addCommentPayload.content" >
				<img class="pull-right iconBoxSmily" src="/images/flt_photo.svg" ng-click="addComment()">
			</div>
			<p class="text-center loginToComment" ng-show="!$storage.userDetails.hasUser">Login To Comment</p>
		</div>
	</div>
</div>

<div class="col-md-4 col-md-offset-4 col-xs-12 cardDesign" ng-show="viewreply"  >
	<div class=" col-md-12 col-xs-12 card nopadding">
		<span class="commntNames pull-left commentReplyLink" ng-click="hideReply()"><img src="../images/flt_back.svg" class="replyBackBtn">Replies</span>
		<div class="ngdialog-close popupClose pull-right"></div>
		<div class="col-md-12 col-xs-12  popupUserTab nopadding">
			<div class="col-xs-2 postProfile">
				<img class="popupuserImage" ng-src="{{curretComment.user_pic}}" ng-if="curretComment.user_pic" />
				<img class="popupuserImage" src="/images/pro1.png" ng-if="!curretComment.user_pic" />
			</div>
			<div class="col-xs-10 userName nopadding">
				<div class="col-xs-12">{{curretComment.profile_name}}</div>
				<div class="col-xs-12">
					<span class="pull-left commentContent">{{curretComment.content}}</span>
					<div class="col-xs-12 pull-left noPadding cmmntTime">
						<span class="pull-left commentTimeAdjust">{{curretComment.created_date | amDurationFormat : 'minute'}} </span>
						<img class="commentEmoteIcon pull-left commentEmoteCountIcon " src="/images/flt_like_inactive.svg" ng-click="emoteComment(1, curretComment.comment_id, indexValue)" />
						<span class="pull-left commentTimeAdjust">{{curretComment.emote_count}}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12 col-xs-12  viewreplyUserTab nopadding " ng-repeat="reply  in replies">
			<div class="col-xs-2 postProfile">
				<img class="popupuserImage" ng-src="{{reply.user_pic}}" ng-if="reply.user_pic" />
				<img class="popupuserImage" src="/images/pro1.png" ng-if="!curretComment.user_pic" />
			</div>
			<div class="col-xs-10 userName nopadding">
				<div class="col-xs-12">{{reply.name}}</div>
				<div class="col-xs-12">
					<span class="pull-left commentContent">{{reply.content}}</span>
					<div class="col-xs-12 pull-left noPadding cmmntTime">
						<span class="pull-left commentTimeAdjust" am-time-ago="reply.created_date | amParse:'YYYY-MM-DD HH:mm:ss'"></span>
						<img class="commentEmoteIcon pull-left commentEmoteCountIcon " src="/images/flt_like_inactive.svg" />
						<span class="pull-left commentTimeAdjust">{{reply.emote_count}}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 commentField" ng-show="$storage.userDetails.hasUser">
			<img class="pull-left iconBoxSmily" src="/images/flt_happy.svg">
			<input type="text" class="form-control pull-left commentBox" ng-model="replyToComment.content" autofocus="false">
			<img class="pull-right iconBoxSmily" src="/images/flt_photo.svg" ng-click="replyForComment($index)">
		</div>
		<p class="text-center loginToComment" ng-show="!$storage.userDetails.hasUser">Login To Comment</p>
	</div>
