<div class="postMain col-xs-12 noPadding">
  <div class="col-xs-12 headingPost">
    <img src="../images/flt-03.svg" class="backPost">
    <span class="headerPost">DOG LOVERS</span>
  </div>
  <div class="col-xs-12 infoPost noPadding">
    <div class="col-xs-12 postChannelName">
      /// {{postDetails.display_name}}
    </div>
    <div class="col-md-12 col-xs-12  userTab noPadding">
      <div class=" profilePost">
        <img class="profileimgPost pull-left" src="/images/pro1.png" />
      </div>
      <div class="col-xs-10 nameUser">
        <div class="col-xs-12 nameUser1">{{postDetails.profile_name}}</div>
        <div class="col-xs-12 nameUser1">
          <img class="badgePost pull-left" src="/images/flt_badge.svg">
          <span class="pull-left expertUser">Expert Trainer</span>
          <span class="pull-left expertUser expertUser1">Expert Trainer</span>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 shadowStyle nopadding" ng-if="postDetails.content.images.length == 1">
    <img class="channelImages" ng-src="{{postDetails.content.images[0]}}" />
  </div>
  <div class="col-xs-12 shadowStyle nopadding" ng-if="postDetails.content.images.length > 1">
    <div class=" col-xs-12 col-md-12 noPadding channelImages" uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
      <div uib-slide ng-repeat="image in postDetails.content.images" index="$index" no-wrap="true">
        <img ng-src="{{image}}" class="ImageInCard"></img>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-xs-12  " ng-if="postDetails.content.post_type == 'Event'">
    <div class="col-xs-1 pull-left eventProperties nopadding">
      <img class=" pull-left DateIcon" src="/images/flt_calendar.svg">
    </div>
    <div class="col-xs-11 pull-left nopadding">
      <span class="eventProperties">{{ postDetails.content.start_date| date:'EEE'}} {{ postDetails.content.start_date| date:'dd'}} {{ postDetails.content.start_date| date:'MMM'}} {{ postDetails.content.start_date| date:'yyyy'}} to {{ postDetails.content.end_date| date:'EEE'}} {{ postDetails.content.end_date| date:'dd'}} {{ postDetails.content.end_date| date:'MMM'}} {{ postDetails.content.end_date| date:'yyyy'}}  | {{  postDetails.content.start_time |date:'shortTime'}} | {{postDetails.content.duration}}hrs</span>
    </div>
    <div class="col-xs-1 pull-left nopadding eventPropertiesPlace">
      <img class="pull-left eventIcon" src="/images/flt_event.svg">
    </div>
    <div class="col-xs-10 pull-left nopadding eventPropertiesPlace">
      {{ postDetails.content.city}} | {{ postDetails.content.location}}
    </div>
  </div>

  <div class="col-xs-12 maininfoPost">
    <h3 class="mainheadingPost">{{postDetails.content.title}}</h3>
  </div>
  <div class=" col-xs-12 pull-leftn sessionPost">
    <p am-time-ago="postDetails.created_date | amParse:'YYYY-MM-DD HH:mm:ss'"></p>
  </div>
  <div class="col-xs-12 msgPost">
    <p class="msgParagraph">{{postDetails.content.content }}</p>

    <div class=" col-xs-12 panelIcon">
      <span class="pull-left commentIcon">
        <img class="boxIcon commentLight" src="/images/flt_comment.svg" ng-click="getComments(postDetails.post_id , true)"/>
        <div class="countLike text-center">{{postDetails.comment_count}}</div>
      </span>
      <span class="boxComment pull-left"><img class="boxIcon" src="/images/flt_share.svg" />
        <div class="countLike1 text-center" style="color:#757575;">{{postDetails.share_count}} 0</div>
      </span>
      <span class="pull-right inactiveEmote" ng-class="{emoteActive: postDetails.is_emoted}" ng-click="postDetails.is_emoted ? emotePost(0) : emotePost(1)">
        <img class="boxIcon1 " src="/images/flt_like.svg"/>
        <div class="countLike1 text-center" >{{postDetails.emote_count}}</div>
      </span>
    </div>
  </div>
</div>
</div>
