<div class=" col-xs-12 FooterMenu noPadding" ng-if="$root.currentPage != 'communityPage' && !$root.disableWebMenu">
  <div class=" col-xs-3 col-xs-3 col-xs-3 " ng-click="clickToOpen('templateId')">
    <img ng-show="currentTab!= 'templateId'" src="../images/flt_menuicon.svg" class="pull-left SpanMenu">
    <img ng-show="currentTab== 'templateId'" src="../images/flt_Menu.svg" class="pull-left SpanMenu">
  </div>
  <div class="col-md-3 col-sm-3 col-xs-3" ng-click="clickToOpen('templateId1')">
    <img ng-show="currentTab!= 'templateId1'" src="../images/flt_switch_channels.svg" class="SpanMenu SwitchIcon">
    <img ng-show="currentTab== 'templateId1'" src="../images/switch_channels.svg" class="SpanMenu SwitchIcon">
  </div>
  <div class="col-md-3 col-sm-3 col-xs-3">
    <img ng-show="currentTab!= 'templateId2'" src="../images/flt_chat_notification.svg" class="SpanMenu Notification">
    <img ng-show="currentTab== 'templateId2'" src="../images/chat_notification.svg" class="SpanMenu Notification">
  </div>
  <div class="col-md-3 col-sm-3 col-xs-3">
    <img ng-show="currentTab!= 'templateId3'" src="../images/flt_search.svg" class="SpanMenu pull-right">
    <img ng-show="currentTab== 'templateId3'" src="../images/search.svg" class="SpanMenu pull-right">
  </div>
</div>


<script type="text/ng-template" id="templateId">
  <div class="col-xs-12 postMaininfo clearfix">
    <div class="myClose">
      <img class="myspostClose  pull-right" src="../images/cancel-music.svg" ng-click="clickToclose('2')">
    </div>
    <div class="col-xs-12 myPostinfo ">
      <div class="col-md-12 col-xs-12  userTab1 nopadding" style="height:{{windowHeight}}px;">
        <div class="col-xs-12  noPadding" ng-if="$storage.userDetails.hasUser">
          <div class="col-xs-2 myProfile">
            <img class="myProfile1" src="/images/pro1.png" />
          </div>
          <div class="useName">
            <div>{{$root.userName}}
              <span class="postWriteimage"><img class="postWrite " src="/images/flt_edit.svg"></span>
            </div>
            <div class=" nickName">
              <i>{{$root.userName}}</i>
            </div>
          </div>
          <div class="postList">
            <img class="myspostImage " src="../images/flt_engaging_conversations.svg">
            <span class="myPost">My Posts</span>
          </div>
          <div class="eventList">
            <a href="/newPost/{{$root.currentCommunity}}" ng-click="closePopup()" style="text-decoration:none !important;">
              <img class="myspostImage " src="../images/flt_edit.svg">
              <span class="myPost">New Post/Event</span>
            </a>
          </div>
          <div class="eventList">
            <img class="myspostImage " src="../images/flt_favorite.svg">
            <span class="myPost">Starred Posts</span>
          </div>
          <div class="eventList">
            <img class="myspostImage " src="../images/flt_calendar.svg">
            <span class="myPost">Allevents</span>
          </div>
          <div class="userSettings">
            <img class="myspostImage " src="../images/flt_settings.svg">
            <span class="myPost">Settings</span>
          </div>
          <div class="eventExit" ng-click="$root.logout()">
            <img class="exitImage " src="../images/flt_logout.svg">
            <span class="myLogout">Logout</span>
          </div>
          <div class="userSettings">
            <img class="myspostImage " src="../images/flt_happy.svg">
            <span class="myPost">Invite Friends</span>
          </div>
          <div class="eventListcomunity">
            <img class="myspostImage " src="../images/flt_switch_communities.svg">
            <span class="myPost">Switch Communities</span>
          </div>
        </div>
        <div class="col-xs-12 noPadding text-center" style="padding-top:50px;" ng-if="!$storage.userDetails.hasUser"> Signin to View </div>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="templateId1">
  <div class="col-xs-12 postMaininfo clearfix">
    <div class="userTab1 col-xs-12" style="height:{{windowHeight}}px;">
      <div class="sideChannel">
        <img class="myspostClose  pull-right" src="../images/cancel-music.svg" ng-click="clickToclose ('2')">
        <span class="myPost" style="padding-left:0">CHANNELS</span>
      </div>
      <div class="sideChannel nopadding">
        <a href="/communityInfo/{{$root.currentCommunity}}" ng-click="closePopup()" style="text-decoration:none"><span class="FilterSubHeadingHome">Home</span></a>
      </div>
      <div>
        <md-input-container class="md-block" id="editErrorTab" style="margin:18px  0 0 ">
          <label>Filter </label>
          <input ng-model="model" class="InputFilter">
        </md-input-container>
      </div>
      <div class="myOthers" ng-show="$root.starredChannel.length">
        <span class="newFontStarred">STARRED</span>
        <div class="col-xs-12 myParadiseChannelList nopadding" ng-repeat="channel in $root.starredChannel">
          <img class="mypostImage pull-left" src="../images/flt_public.svg" ng-if="channel.channel_type == 1" ng-click="gotoChannel(channel.cName,channel.id)">
          <img class="mypostImage pull-left" src="../images/flt_locked.svg" ng-if="channel.channel_type == 2" ng-click="gotoChannel(channel.cName,channel.id)">
          <img class="mypostImage pull-left" src="../images/flt_paid.svg" ng-if="channel.channel_type == 3" ng-click="gotoChannel(channel.cName,channel.id)">
          <span class="myParadiseFonts pull-left" ng-click="gotoChannel(channel.cName,channel.id)">{{channel.name}}</span>
          <img class="myspostImages pull-right" src="../images/flt_unmute.svg" ng-show="!channel.mute" ng-click="muteUnmuteChannel(channel.id, 1 , $index )">
          <img class="myspostImages pull-right" src="../images/flt_mute.svg" ng-show="channel.mute" ng-click="muteUnmuteChannel(channel.id, 0 , $index )">
        </div>
      </div>
      <div class="col-xs-12 myOthers" ng-show="$root.channels.length">
        <span class="newFontStarred">OTHERS</span>
      </div>
      <div class="col-xs-12 myParadiseChannelList nopadding" ng-repeat="channel in $root.channels">
        <img class="mypostImage pull-left" src="../images/flt_public.svg" ng-if="channel.channel_type == 1" ng-click="gotoChannel(channel.channel_name,channel.channel_id)">
        <img class="mypostImage pull-left" src="../images/flt_locked.svg" ng-if="channel.channel_type == 2" ng-click="gotoChannel(channel.channel_name,channel.channel_id)">
        <img class="mypostImage pull-left" src="../images/flt_paid.svg" ng-if="channel.channel_type == 3" ng-click="gotoChannel(channel.channel_name,channel.channel_id)">
        <span class="myParadiseFonts pull-left" ng-click="gotoChannel(channel.channel_name,channel.channel_id)">{{channel.display_name}}</span>
        <img class="myspostImages pull-right" src="../images/flt_favorite.svg" ng-click="starUnstarChannel(channel.channel_id, 1 , $index)">
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="templateId5">
  <div class="postMain">
    <div class="col-xs-12 postHeading">
      <img src="../images/left-arrow.svg" class="postBack">
      <span class="postHeader">PREVIEW</span>
    </div>
    <div class="col-xs-12 subHead">
      <span class="pull-left savePreview">SAVE DRAFT</span>
      <span class="pull-right saveDraft" ng-click="channelClick('templateId4')">PUBLISH</span>
    </div>
    <div class="col-xs-12 postInfoPop nopadding">
      <div class="col-xs-12 postBird">
        /// BIRD WALK
      </div>
      <div class="col-md-12 col-xs-12  userTab nopadding">
        <div class="col-xs-2 postProfile">
          <img class="postProfile" src="/images/pro1.png" />
        </div>
        <div class="col-xs-10 userName">
          <div class="col-xs-12">Ramki Sreenivasan</div>
          <div class="col-xs-12">
            <img class="postBadge pull-left" src="/images/flt_badge.svg">
            <span class="pull-left">Expert Trainer</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 postMaininfo">
      <h3 class="postMainheading">Nagarahole</h3>
    </div>
    <div class=" col-xs-12 pull-leftn postSession">
      <i>- July 2016</i>
    </div>
    <div class="col-md-12 col-xs-12 postImage nopadding">
      <img class="channelImages" src="/images/sm2.png" />
    </div>
    <div class=" col-xs-12 postMsg paraContainer noPadding">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</script>


<script type="text/ng-template" id="templateId4">
  <div class="col-xs-12 outerPopdiv noPadding" style="height:{{windowHeight}}px;">
    <div class="channelHeader noPadding">
      <img src="../images/back-arrow.svg" class="backBtnimg pull-left">
      <span class="postHead pull-left">NEW POST/EVENT</span>
    </div>
    <p class="selectHeading">
      SELECT A CHANNEL
    </p>
    <div class="col-xs-12 noPadding ">
      <div class="col-xs-12 signUpContainer signupBody">
        <div class="col-xs-12 col-sm-12 col-md-12 containInpt signupNumberCard">
          <md-select placeholder="Bird Sigtings" ng-model="user" md-on-open="loadUsers()" id="comboBox" class="mdContainer">
            <md-option ng-value="user" ng-repeat="user in users">{{user.name}}</md-option>
          </md-select>
          <div class="col-xs-12 noPadding ">
            <span class="pull-left previewLabl">PREVIEW</span>
            <span class="pull-right" style="padding-right:15px;">PUBLISH</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
