<div class="col-md-12 col-xs-12 cardDesign">
  <div class="col-md-12 col-xs-12 specialCardTop nopadding">
    <div class="col-md-12 col-xs-12 postChannelName">
      ///{{details.display_name}}
    </div>
    <div class="col-md-12 col-xs-12  userTab noPadding">
      <div class=" profilePost">
        <img class="profileimgPost pull-left" src="/images/pro1.png" />
      </div>
      <div class="col-md-10 col-sm-10 col-xs-9  nameUser">
        <div class="col-xs-12 nameUser1">{{details.member_name}}</div>
        <div class="col-xs-12 nameUser1">
          <img class="badgePost pull-left" src="/images/flt_badge.svg">
          <span class="pull-left expertUser">Expert Trainer</span>
          <span class="pull-left expertUser expertUser1">Expert Trainer</span>
          <a class="dropdown-toggle " data-toggle="dropdown"><span class="glyphicon glyphicon-option-vertical glyphicon-large pull-right overFlowIcon"></span></a>
          <ul class="dropdown-menu customMenu">
            <li><a ng-click="gotToMyProfile()">Report</a></li>
            <!-- <li><a href='' ng-click="logout()">Logout</a></li> -->
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12 shadowStyle nopadding"  ng-click="$root.goToPostDetails()">
      <img class="channelImages" ng-src="{{details.content.images[0]}}" />
    </div>
    <div class="col-xs-12 maininfoPost">
      <h3 class="mainheadingPost">{{details.title}}</h3>
    </div>
    <div class=" col-xs-12 pull-leftn sessionPost">
      <p> 7mins Ago</p>
    </div>
    <div class="col-xs-12 msgPost" >
      <p class="msgParagraph"  ng-click="$root.goToPostDetails()">{{details.content.content}}</p>
      <div class="col-md-12 col-xs-12 panelIcon">
        <span class="pull-left commentIcon">
          <img class="boxIcon commentLight" src="/images/flt_comment.svg" ng-click="getComments(details.post_id , true)"/>
          <div class="countLike text-center">{{details.comment_count}}</div>
        </span>
        <span class="boxComment pull-left"><img class="boxIcon" src="/images/flt_share.svg" />
          <div class="countLike1 text-center" style="color:#757575;">{{details.share_count}}</div>
        </span>
        <span class="pull-right inactiveEmote" ng-class="{imagShare: details.is_emoted}" ng-click = "details.is_emoted ? emotePost(0) : emotePost(1)">
          <img class="boxIcon1 " src="/images/flt_like_inactive.svg" ng-show="!details.is_emoted" />
          <img class="boxIcon1 " src="/images/flt_like.svg" ng-show="details.is_emoted"/>
          <div class="countLike1 text-center" ng-class="{unSelectedCount: !details.is_emoted}" >{{details.emote_count}}</div>
        </span>
      </div>
    </div>
  </div>
</div>
