<div class="col-md-12 col-xs-12 cardDesign noPadding">
  <div class="col-md-12 col-xs-12 specialCardTop nopadding">
    <div class="col-xs-12 postChannelName">
      /// Bird Walk
    </div>
    <div class="col-md-12 col-xs-12  userTab noPadding">
      <div class=" profilePost">
        <img class="profileimgPost pull-left" src="/images/pro1.png" />
      </div>
      <div class="col-md-10 col-sm-10 col-xs-9 nameUser">
        <div class="col-xs-12 nameUser1">Ramki Sreenivasan</div>
        <div class="col-xs-12 nameUser1">
          <img class="badgePost pull-left" src="/images/flt_badge.svg">
          <span class="pull-left expertUser">Expert Trainer</span>
            <span class="pull-left expertUser expertUser1">Expert Trainer</span>
            <a class="dropdown-toggle " data-toggle="dropdown"><span class="glyphicon glyphicon-option-vertical glyphicon-large pull-right overFlowIcon"></span></a>
            <ul class="dropdown-menu customMenu">
              <li><a ng-click="gotToMyProfile()">Report</a></li>
              <!-- <li><a href='' ng-click="logout()">Logout</a></li> -->
            </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12 shadowStyle nopadding adjVideodiv">
      <videogular class="videogular-container" vg-theme="config.theme">
        <vg-media vg-src="config.sources" vg-tracks="config.tracks" vg-native-controls="false">
        </vg-media>
        <vg-controls>
          <vg-play-pause-button></vg-play-pause-button>
          <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
          <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          </vg-scrub-bar>
          <vg-time-display>{{ timeLeft | date:'mm:ss':'+0000' }}</vg-time-display>
          <vg-volume>
            <vg-mute-button></vg-mute-button>
            <vg-volume-bar></vg-volume-bar>
          </vg-volume>
          <vg-fullscreen-button></vg-fullscreen-button>
        </vg-controls>
        <vg-overlay-play></vg-overlay-play>
        <vg-poster vg-url='config.plugins.poster'></vg-poster>
      </videogular>
    </div>
    <div class="col-xs-12 maininfoPost">
      <h3 class="mainheadingPost">Doris Burke could Sub into a Warriers game with these moves</h3>
    </div>
    <div class=" col-xs-12 pull-leftn sessionPost  marginAdj">
      <p> 7mins Ago</p>
    </div>
    <div class="col-xs-12 msgPost">
        <div class="col-md-12 col-xs-12 panelIcon">
          <span class="pull-left commentIcon"><img class="boxIcon commentLight" src="/images/flt_comment.svg" /><br>
          <span class="countLike pull-left">9</span></span>
          <span class="boxComment pull-left"><img class="boxIcon" src="/images/flt_share.svg" /><br>
          <span class="countLike1 pull-left" style="color:#757575;">21</span></span>
          <span class="pull-right imagShare"><img class="boxIcon1 " src="/images/flt_like.svg" /><br>
          <span class="countLike1 pull-left">21</span></span>
        </div>
  </div>
</div>
