<div class="col-md-12 col-xs-12 cardDesign">
	<div class=" col-md-12 col-xs-12 card nopadding">
		<span class="commntNames">  Replies</span>
		<div class="ngdialog-close popupClose pull-right"></div>
		<div class="col-md-12 col-xs-12  popupUserTab nopadding">
			<div class="col-xs-2 postProfile">
				<img class="popupuserImage" src="/images/pro1.png" />
			</div>
			<div class="col-xs-10 userName nopadding">
				<div class="col-xs-12">Ramki Sreenivasan</div>
				<div class="col-xs-12">
					<span class="pull-left commentContent">Thanks alot for sharing these reviews</span>
					<div class="col-xs-12 pull-left noPadding cmmntTime">sun at 23:00 <img class="iconBox lightBulb " src="/images/flt_like.svg" />61
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12 col-xs-12  viewreplyUserTab nopadding ">
			<div class="col-xs-2 postProfile">
				<img class="popupuserImage" src="/images/pro1.png" />
			</div>
			<div class="col-xs-10 userName nopadding">
				<div class="col-xs-12">Jhon Doe</div>
				<div class="col-xs-12">
					<span class="pull-left commentContent">it was a delightful reading</span>
					<div class="col-xs-12 pull-left noPadding cmmntTime">Yesterday at 11:00 <img class="iconBox lightBulb " src="/images/flt_like.svg" />61
					</div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 commentField">
			<img class="pull-left iconBoxSmily" src="/images/flt_happy.svg">
			<img class="pull-right iconBoxSmily" src="/images/flt_photo.svg">
			<md-content layout-padding class="commentBoxStyle">
				<div class="commentBoxStyle">
					<form name="userForm">
						<div layout-gt-sm="row">
							<!--<p ng-bind-html="message | smilies"></p>

						  <div class="input-group nopadding">
							<span class="input-group-addon smilyDesign nopadding" smilies-selector="message" smilies-placement="right" smilies-title="Smilies"></span>!-->
							<md-input-container class="md-block " flex-gt-sm>
								<label>Write a comment</label>
								<input class="commentText" />
							</md-input-container>
						</div>
				</div>
				</form>
		</div>
		</md-content>
	</div>
</div>
