<div class="col-md-12 col-sm-12 navbarHead">
  <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 noPadding">
    <span class="pull-left menuTag" ng-show="userPresent && $root.currentPage != 'communityPage'"  class="md-icon-button" aria-label="Side Panel" ng-click="$root.openSideNavPanel()">Menu</span>
    <span class="headerCommunityName" ng-hide="$root.currentPage == 'communityPage'" ng-bind="$root.communityName"></span>
    <div class="col-md-5 col-sm-5 pull-right" ng-hide="$root.currentPage == 'communityPage'">
      <input type="text" name="Search Flockt" placeholder="Search Flockt" class="searchInputSize">
      <img src="../images/flt_search_input.svg" class="searchInputIcon"></img>
    </div>
  </div>
</div>
