  <div class="col-xs-12 myPostinfo ">
    <div class="col-md-12 col-xs-12 nopadding">
      <div class="col-xs-2 myProfile">
        <img class="myProfile1" src="/images/pro1.png" />
      </div>
      <div class="useName">
        <div>{{$root.userName}}
          <span class="postWriteimage"><img class="postWrite " src="/images/flt_edit.svg"></span></div>
        <div class=" nickName">
          <i>{{$root.userName}}</i>
        </div>
      </div>
      <div class="postList">
        <img class="myspostImage " src="../images/flt_engaging_conversations.svg">
        <span class="myPost">My Posts </span>
      </div>
      <a href="/newPost/{{communityDetailsPayload.community_name}}" ng-click="close()" style="text-decoration:none !important;">
        <div class="eventList">
          <img class="myspostImage " src="../images/flt_edit.svg">
          <span class="myPost">New Post/Event</span>
        </div>
      </a>
      <div class="eventList">
        <img class="myspostImage " src="../images/flt_favorite.svg">
        <span class="myPost">Starred Posts</span>
      </div>
      <div class="eventList">
        <img class="myspostImage " src="../images/flt_calendar.svg">
        <span class="myPost">Allevents</span>
      </div>
      <div class="userSettings">
        <img class="myspostImage " src="../images/flt_settings.svg">
        <span class="myPost">Settings</span>
      </div>
      <div class="eventExit" ng-click="$root.logout();close()">
        <img class="exitImage " src="../images/flt_logout.svg">
        <span class="myLogout">Logout</span>
      </div>
      <div class="userSettings">
        <img class="myspostImage " src="../images/flt_happy.svg">
        <span class="myPost">Invite Friends</span>
      </div>
      <div class="eventListcomunity">
        <img class="myspostImage " src="../images/flt_switch_communities.svg">
        <span class="myPost">Switch Communities</span>
      </div>
    </div>
  </div>
