<style>
  .md-select-menu-container {
    z-index: 999999 !important
  }

  #editSideMenuInput md-input-container {
    margin: 18px 0 5px 0 !important;
    font-family: Lato-Regular !important;
  }

  md-input-container.md-default-theme.md-input-focused:not(.md-input-invalid) .md-input,
  md-input-container.md-input-focused:not(.md-input-invalid) .md-input,
  md-input-container.md-default-theme.md-input-resized:not(.md-input-invalid) .md-input,
  md-input-container.md-input-resized:not(.md-input-invalid) .md-input {
    color: f83A48 !important;
  }

  md-input-container.md-default-theme.md-input-invalid label,
  md-input-container.md-input-invalid label,
  md-input-container.md-default-theme.md-input-invalid .md-input-message-animation,
  md-input-container.md-input-invalid .md-input-message-animation,
  md-input-container.md-default-theme.md-input-invalid .md-char-counter,
  md-input-container.md-input-invalid .md-char-counter {
    color: rgba(0, 0, 0, 0.38) !important;
  }
  /*md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label, md-input-container:not(.md-input-invalid).md-input-focused label, md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused md-icon, md-input-container:not(.md-input-invalid).md-input-focused md-icon{
    color: rgba(0,0,0,0.38) !important;
  }*/

  md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input,
  md-input-container:not(.md-input-invalid).md-input-focused .md-input,
  md-input-container.md-default-theme:not(.md-input-invalid).md-input-resized .md-input,
  md-input-container:not(.md-input-invalid).md-input-resized .md-input {
    border-color: !important;
  }

  md-input-container.md-input-focused .md-input,
  md-input-container .md-input.ng-invalid.ng-dirty,
  md-input-container.md-input-resized .md-input {
    border-width: 0 0 1px 0 !important;
  }

  md-input-container .md-input {
    height: 25px !important;
  }

  md-input-container label:not(.md-container-ignore) {
    bottom: 92% !important;
  }

  md-input-container label:not(.md-no-float):not(.md-container-ignore),
  md-input-container .md-placeholder {
    font-family: Lato-Regular !important;
  }

  md-input-container .md-errors-spacer {
    min-height: 10px !important;
  }

  md-select {
    width: 100% !important;
    text-align: center !important;
  }

  .md-select-value {
    min-width: 100% !important;
    padding: 2px 0px 3px 0px;
  }
</style>
<div class="sideMenu" ng-hide="$root.currentPage == 'communityPage'">
  <div class="sideChannel nopadding">
    <h3 class="SidemenuHead">CHANNELS</h3>
  </div>
  <div class="sideChannel nopadding">
    <a href="/communityInfo/{{$root.currentCommunity}}" style="text-decoration:none !important;" ><span class="FilterSubHeadingHome">Home</span></a>
  </div>
  <div class="col-xs-12 noPadding">
    <md-input-container class="col-md-12 noPadding" id="editSideMenuInput">
      <label>Filter</label>
      <input type="text" ng-model="Filter" class="InputFilter noPadding">
    </md-input-container>
  </div>

  <div class="col-xs-12 myStarred nopadding">
    <div class="myOthers" ng-show="$root.starredChannel.length">
      <span class="newFontStarred">STARRED</span>
      <div class="col-xs-12 myParadiseChannelList nopadding" ng-repeat="channel in $root.starredChannel">
        <img class="mypostImage pull-left" src="../images/flt_public.svg" ng-if="channel.channel_type == 1" ng-click="gotoChannel(channel.cName,channel.id)">
        <img class="mypostImage pull-left" src="../images/flt_locked.svg" ng-if="channel.channel_type == 2" ng-click="gotoChannel(channel.cName,channel.id)">
        <img class="mypostImage pull-left" src="../images/flt_paid.svg" ng-if="channel.channel_type == 3" ng-click="gotoChannel(channel.cName,channel.id)">
        <span class="myParadiseFonts pull-left" ng-click="gotoChannel(channel.cName,channel.id)">{{channel.name}}</span>
        <img class="myspostImages pull-right" src="../images/flt_unmute.svg" ng-show="!channel.mute" ng-click="muteUnmuteChannel(channel.id, 1 , $index )">
        <img class="myspostImages pull-right" src="../images/flt_mute.svg" ng-show="channel.mute" ng-click="muteUnmuteChannel(channel.id, 0 , $index )">
      </div>
    </div>
    <div class="col-xs-12 myOthers" ng-show="$root.channels.length">
      <span class="newFontStarred">OTHERS</span>
    </div>
    <div class="col-xs-12 myParadiseChannelList nopadding" ng-repeat="channel in $root.channels" >
      <img class="mypostImage pull-left" src="../images/flt_public.svg" ng-if="channel.channel_type == 1" ng-click="gotoChannel(channel.channel_name,channel.channel_id)">
      <img class="mypostImage pull-left" src="../images/flt_locked.svg" ng-if="channel.channel_type == 2" ng-click="gotoChannel(channel.channel_name,channel.channel_id)">
      <img class="mypostImage pull-left" src="../images/flt_paid.svg" ng-if="channel.channel_type == 3" ng-click="gotoChannel(channel.channel_name,channel.channel_id)">
      <span class="myParadiseFonts pull-left" ng-click="gotoChannel(channel.channel_name,channel.channel_id)">{{channel.display_name}}</span>
      <img class="myspostImages pull-right" src="../images/flt_favorite.svg" ng-click="starUnstarChannel(channel.channel_id, 1 , $index)">
    </div>
  </div>

</div>

<script type="text/ng-template" id="signin">

  <div class="signBack">
    <div class="col-xs-12 noPadding">
      <div class="col-xs-12  signupHeader"><img src="../images/flt_logo.svg" class="flocktIcon">Get started</div>
      <div class="col-xs-12 signUpContainer signupBody" style="height:{{windowHeight}}px;">

        <form name="signInForm">
          <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 noPadding" ng-show="enterNumberSectionSignIn">
            <p class="signupHeading">Enter your mobile number</p>
            <div class="col-xs-12 noPadding text-center">
              <p class="signupQuote">We need a valid phone number to sign you up.</p>
              <p class="signupQuote">We neither share it with anyone nor spam you.We</p>
              <p class="signupQuote">use it for password recovery & critical alerts.</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 signupNumberCard">
              <div class="col-xs-12 enterOtpInput ">
                <div class="col-xs-4 col-sm-3 col-md-3 cntryCodeAdjs">
                  <md-select placeholder="+91" ng-model="mobile.country" md-on-open="loadUsers()" data-ng-change="setQuantitySize(country)" class="pull-left" id="countryCode">
                    <md-option ng-value="value" ng-repeat="value in countryList track by $index">+{{value}}</md-option>
                  </md-select>
                </div>
                <div class="col-xs-8 col-sm-9 col-md-9 signupTextAjst">
                  <md-input-container class="md-block">
                    <label>Phone Number</label>
                    <input type="number" class="signupPhone" md-no-asterisk name="mobile" ng-model="mobile.mobile" ng-required="true">
                    <div ng-bind="numberError" class="errorMsg">{{numberError}}</div>
                  </md-input-container>
                  <img src="../images/flt_error.svg" ng-if="numberError" class="pull-right errorExclamation">
                </div>
              </div>
              <div class="col-xs-12 text-center" ng-model="errorMessage"></div>
              <div class="col-xs-12">
                <md-button class="pull-right signupNext " ng-click="numberSubmit()">SUBMIT</md-button>
              </div>
            </div>
          </div>

          <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12  noPadding" ng-show="enterPinSignIn">
            <p class="signupHeading">Enter your PIN</p>
            <div class="col-xs-12 noPadding text-center signCard">
              <p class="signupQuote">Your have 3 tries before we auto reset it for you. </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 signupNumberCard">
              <div class="col-xs-12 ">
                <div class="col-xs-12 noPadding" style="margin-top:20px">
                  <md-input-container class="md-block">
                    <label>Enter Your Pin</label>
                    <input type="password" class="signupPhone signupPhonePinSection formAct" md-no-asterisk name="mobile" ng-model="loginPayload.pin" ng-required="true">
                    <div ng-bind="pinError" class="errorMsg">{{pinError}}</div>
                  </md-input-container>
                  <img src="../images/flt_error.svg" ng-if="pinError" class="pull-right errorExclamation">
                </div>
              </div>
              <div class="col-xs-12">
                <md-button class="pull-left signupNext signupResendOtp signupSetPin" style="color:rgba(0,0,0,0.38)" ng-click="forForgotPassword = true;goToSignup()">FORGOT PIN?</md-button>
                <md-button class="pull-right signupNext  signupNextOtpSection signupSetPin" type="submit" ng-click="verifyPin()">SUBMIT</md-button>
              </div>
            </div>
          </div>
        </form>

        <div class="col-xs-12 text-center wantToSignIn" ng-show="enterPinSignIn">Dont have an account? <a ng-click="goToSignup()" ng-show="enterPinSignIn">Signup</a></div>

        <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 noPadding" ng-show="signupPage1">
          <p class="signupHeading">Enter your mobile number</p>
          <div class="col-xs-12 noPadding text-center signCard">
            <p class="signupQuote">We need a valid phone number to sign you up.</p>
            <p class="signupQuote">We neither share it with anyone nor spam you.We</p>
            <p class="signupQuote">use it for password recovery & critical alerts.</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 signupNumberCard">
            <div class="col-xs-12 enterOtpInput">
              <div class="col-xs-4 col-sm-3 col-md-3">
                <md-select placeholder="91" ng-model="signupMobile.signupCountryCode" md-on-open="loadUsers()" data-ng-change="setQuantitySize(country)" class="pull-left" id="countryCode">
                  <md-option ng-value="value" ng-repeat="value in countryList track by $index">{{value}}</md-option>
                </md-select>
              </div>
              <div class="col-xs-8 col-sm-9 col-md-9 signupTextAjst">
                <md-input-container class="md-block">
                  <label>Phone Number</label>
                  <input type="number" class="signupPhone" md-minlength="4" numbers-only md-no-asterisk name="mobile" ng-model="signupMobile.signupMobile" ng-required="true">
                  <div ng-bind="errorMessageVerifyOtp" class="errorMsg">{{errorMessageVerifyOtp}}</div>
                </md-input-container>
              </div>
            </div>
            <div class="col-xs-12">
              <md-button class="pull-right signupNext  " type="submit" ng-click="sendOtp()">NEXT</md-button>
            </div>
          </div>
        </div>

        <form name="verifyOtpSection">
          <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 noPadding" ng-show="signupPage2">
            <p class="signupHeading">Enter one time pin</p>
            <div class="col-xs-12 noPadding text-center signCard">
              <p class="signupQuote" ng-if="!forForgotPassword">You seem to be new here. Enter the PIN we just</p>
              <p class="signupQuote" ng-if="!forForgotPassword">sent you on text</p>
              <p class="signupQuote" ng-if="forForgotPassword">We just re-set your PIN & send you one on text</p>
              <p class="signupQuote" ng-if="forForgotPassword">Enter it.</p>
              <p class="signupNext text-center signupNumerEditSection">
                <span class="signupPhNumberReview">{{signupMobile.signupCountryCode}}- {{signupMobile.signupMobile}}</span>
                <img src="../images/flt_edit.svg" class="signupEditBtn" ng-click="signupPage2 = fasle;signupPage1 = true;stopCounter();counter = 0;">
              </p>
            </div>
            <div class="col-xs-12 text-center">
              <span class="text-center col-xs-12" ng-show="counter>=60">Your OTP has expired. Please resend OTP.</span>
              <span class="progressBar">
          <span class="progressCount" ng-show="counter<60"><span ng-if="counter<10">0</span>{{counter}}</span>
              <span ng-show="counter<60">
            <round-progress   max="60"
                            current="counter"
                            color="#92D687"
                            bgcolor="#eaeaea"
                            radius="100"
                            stroke="10"
                            semi="false"
                            rounded="false"
                            clockwise="true"
                            responsive="true"
                            duration="800"
                            animation="easeInOutQuart"
                            animation-delay="0"></round-progress></span>

              </span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 signupNumberCard signupCardOtpSection">
              <div class="col-xs-12 enterOtpInput">
                <md-input-container class="md-block">
                  <label>Enter One Time Pin</label>
                  <input type="number" md-minlength="4" md-no-asterisk name="otp" ng-model="verifyOtpPayload.otp" ng-required="true">
                  <div ng-bind="errorMessageVerifyOtp" class="errorMsg">{{errorMessageVerifyOtp}}</div>
                </md-input-container>
                <img src="../images/flt_error.svg" ng-if="errorMessageVerifyOtp" class="pull-right errorExclamation">
              </div>
              <div class="col-xs-12 noPadding">
                <md-button class="pull-left signupNext resendPinBtn" type="submit" ng-click="sendOtp()">RESEND OTP</md-button>
                <md-button class="pull-right signupNext" type="submit" ng-click="verifyOtp()">SUBMIT</md-button>
              </div>
            </div>
          </div>
        </form>

        <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 noPadding" ng-show="signupPage3">
          <p class="signupHeading">Set your own pin</p>
          <div class="col-xs-12 noPadding text-center signCard">
            <p class="signupQuote">Your PIN should consist of 4-6 numerals and </p>
            <p class="signupQuote">cannot be like 111111-123456</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 signupNumberCard">
            <div class="col-xs-12 ">
              <div class="col-xs-12 noPadding" style="margin-top:15px">
                <md-input-container class="md-block">
                  <label>Re-type pin</label>
                  <input type="number" md-no-asterisk name="otp" ng-model="createPinPayload.re_pin" ng-required="true">
                  <div ng-bind="errorMessage" class="errorMsg">{{errorMessage}}</div>
                </md-input-container>
              </div>
              <div class="col-xs-12 noPadding" >
                <md-input-container class="md-block" style="margin: 7px 0 !important">
                  <label>Enter Pin</label>
                  <input type="{{inputType}}" md-no-asterisk name="otp" ng-model="createPinPayload.pin" ng-required="true">
                </md-input-container>
                <img src="../images/show.png" class="signupShowHidePassword" ng-click="toggleType()">
              </div>
            </div>
            <div class="col-xs-12">
              <md-button class="pull-right signupNext signupNextOtpSection signupSetPin" type="submit" ng-click="updatePIN()">SUBMIT</md-button>
            </div>
          </div>
        </div>

        <form name="userDetailsSection">
          <div class="col-xs-12 noPadding " ng-show="signupPage4">
            <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12 noPadding">
              <p class="signupHeading">HI! WELCOME TO FLOCKT</p>
              <div class="col-xs-12 noPadding text-center">
                <p class="signupQuote">Enter your real name-you can select nicknames</p>
                <p class="signupQuote">per community later.We need your year of birth as</p>
                <p class="signupQuote">some communities have age restrictions</p>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-12 signupNumberCard">
                <div class="col-xs-12 ">
                  <div class="col-xs-12 noPadding" style="margin-top:15px">
                    <md-input-container class="md-block">
                      <label>Enter Name</label>
                      <input type="text" md-no-asterisk name="name" ng-model="updateUserPayload.name" ng-required="true">
                    </md-input-container>
                  </div>
                  <div class="col-xs-12 noPadding">
                    <md-input-container class="md-block">
                      <label>Email-ID</label>
                      <input type="email" md-no-asterisk name="email" ng-model="updateUserPayload.email" ng-required="true" ng-pattern="/^.+@.+\..+$/">
                      <div ng-bind="userDetailsError" class="errorMsg">{{userDetailsError}}</div>
                    </md-input-container>
                    <img src="../images/flt_error.svg" ng-if="userDetailsError" class="pull-right errorExclamation">
                  </div>
                </div>
                <div class="col-xs-12 submitWelcome">
                  <md-button class="pull-right signupNext" type="submit" ng-click="updateUserDetails()">SUBMIT</md-button>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
  </script>
